Repository elizaOS/eliza, pull requests merged in 2024-11, with the labels that each got.

#101 Trustscore, token-performance, token performance simulation
  core/src/adapters/trustScoreDatabase.ts
  core/src/providers/token.ts
  core/src/providers/trustScoreProvider.ts
  src/providers/token.test.ts
Labels: enhancement, infrastructure, testing

#175 updates to order book and trust score, virtual confidence, last active, decay score, validation trust, multiple recommenders
  core/src/adapters/trustScoreDatabase.ts
  core/src/providers/trustScoreProvider.ts
Labels: enhancement, infrastructure, testing

#196 swap Dao action initital
  README.md
  core/.env.example
  core/src/actions/swap.ts
  core/src/actions/swapDao.ts
  core/src/actions/swapUtils.ts
  core/src/adapters/trustScoreDatabase.ts
  core/src/cli/index.ts
  core/src/clients/direct/index.ts
  core/src/core/generation.ts
  core/src/core/parsing.ts
  core/src/index.ts
  core/src/providers/token.ts
  core/src/providers/trustScoreProvider.ts
  core/src/providers/wallet.ts
  docs/docs/api/index.md
Labels: enhancement, infrastructure, testing

#599 feat: make node-plugin lazy-loaded for faster boot times
  agent/src/index.ts
  packages/plugin-node/src/index.ts
  packages/plugin-node/src/services/browser.ts
Labels: Needs Testing

#728 feat: add new pages, update sidebar
  docs/api/functions/generateCaption.md
  docs/api/functions/generateImage.md
  docs/api/functions/generateMessageResponse.md
  docs/api/functions/generateObject.md
  docs/api/functions/generateObjectArray.md
  docs/api/functions/generateObjectV2.md
  docs/api/functions/generateShouldRespond.md
  docs/api/functions/generateTextArray.md
  docs/api/functions/generateTrueOrFalse.md
  docs/api/functions/generateWebSearch.md
  docs/api/functions/handleProvider.md
  docs/api/functions/splitChunks.md
  docs/api/interfaces/GenerationOptions.md
  docs/docs/community/streams/2024-11-24.md
  docs/docs/community/streams/2024-11-28.md
  docs/docs/community/streams/2024-11-29.md
  docs/sidebars.js
Labels: documentation
