Repository elizaOS/eliza, pull requests merged in 2024-12, with the labels that each got.

#973 LinkedIn Client
  packages/client-linkedin/README.md
  packages/client-linkedin/package.json
  packages/client-linkedin/src/base.ts
  packages/client-linkedin/src/environment.ts
  packages/client-linkedin/src/index.ts
  packages/client-linkedin/src/interactions.ts
  packages/client-linkedin/src/post.ts
  packages/client-linkedin/tsconfig.json
Labels: Plugin_new

#926 feat: Add NanoGPT provider
  .env.example
  agent/src/index.ts
  packages/core/src/generation.ts
  packages/core/src/models.ts
  packages/core/src/types.ts
Labels: ModelProvider_new

#913 Twitter client enhancements
  .env.example
  packages/client-twitter/src/interactions.ts
Labels: Client: Twitter

#997 add echochambers
  .env.example
  packages/core/src/types.ts
  packages/plugin-echochambers/LICENSE
  packages/plugin-echochambers/README.md
  packages/plugin-echochambers/package.json
  packages/plugin-echochambers/src/echoChamberClient.ts
  packages/plugin-echochambers/src/environment.ts
  packages/plugin-echochambers/src/index.ts
  packages/plugin-echochambers/src/interactions.ts
  packages/plugin-echochambers/src/types.ts
  packages/plugin-echochambers/tsconfig.json
  packages/plugin-echochambers/tsup.config.ts
  pnpm-lock.yaml
Labels: Plugin_new

#1026 feat: improve voice processing and add deepgram transcription option
  .env.example
  package.json
  packages/client-discord/src/voice.ts
  packages/plugin-node/src/services/transcription.ts
  pnpm-lock.yaml
Labels: ModelProvider_new

#856 feat: improve X/Twitter login with cookie validation and retry mechanism
  packages/client-twitter/src/base.ts
Labels: Client: Twitter

#860 feat: multiversx plugin
  .env.example
  agent/package.json
  agent/src/index.ts
  packages/plugin-multiversx/.npmignore
  packages/plugin-multiversx/eslint.config.mjs
  packages/plugin-multiversx/package.json
  packages/plugin-multiversx/readme.md
  packages/plugin-multiversx/src/actions/createToken.ts
  packages/plugin-multiversx/src/actions/transfer.ts
  packages/plugin-multiversx/src/enviroment.ts
  packages/plugin-multiversx/src/index.ts
  packages/plugin-multiversx/src/providers/wallet.ts
  packages/plugin-multiversx/src/tests/wallet.test.ts
  packages/plugin-multiversx/src/utils/amount.ts
  packages/plugin-multiversx/tsconfig.json
  packages/plugin-multiversx/tsup.config.ts
  pnpm-lock.yaml
Labels: Plugin_new

#847 feat: Add NEAR Protocol plugin
  .env.example
  agent/package.json
  agent/src/index.ts
  packages/plugin-near/package.json
  packages/plugin-near/src/actions/swap.ts
  packages/plugin-near/src/actions/transfer.ts
  packages/plugin-near/src/environment.ts
  packages/plugin-near/src/index.ts
  packages/plugin-near/src/providers/wallet.ts
  packages/plugin-near/tsconfig.json
  packages/plugin-near/tsup.config.ts
Labels: Plugin_new

#1039 feat: add plugin-ton
  .env.example
  agent/package.json
  agent/src/index.ts
  packages/plugin-ton/package.json
  packages/plugin-ton/src/actions/transfer.ts
  packages/plugin-ton/src/enviroment.ts
  packages/plugin-ton/src/index.ts
  packages/plugin-ton/src/providers/wallet.ts
  packages/plugin-ton/src/tests/wallet.test.ts
  packages/plugin-ton/tsconfig.json
  packages/plugin-ton/tsup.config.ts
  pnpm-lock.yaml
Labels: Plugin_new

#1011 feat: Add plugin-nft-generation: create Solana NFT collections.
  .env.example
  agent/package.json
  agent/src/index.ts
  packages/core/src/environment.ts
  packages/core/src/types.ts
  packages/plugin-nft-generation/.npmignore
  packages/plugin-nft-generation/eslint.config.mjs
  packages/plugin-nft-generation/package.json
  packages/plugin-nft-generation/src/api.ts
  packages/plugin-nft-generation/src/handlers/createCollection.ts
  packages/plugin-nft-generation/src/handlers/createNFT.ts
  packages/plugin-nft-generation/src/handlers/verifyNFT.ts
  packages/plugin-nft-generation/src/index.ts
  packages/plugin-nft-generation/src/provider/wallet/walletSolana.ts
  packages/plugin-nft-generation/tsconfig.json
  packages/plugin-nft-generation/tsup.config.ts
  packages/plugin-node/src/services/awsS3.ts
  turbo.json
Labels: Plugin_new

#837 fix: load image from diff endpoints
  packages/plugin-node/src/services/image.ts
Labels: Needs Refactor

#1225 feat: add abstract plugin
  .env.example
  agent/package.json
  agent/src/index.ts
  packages/plugin-abstract/package.json
  packages/plugin-abstract/src/actions/transfer.ts
  packages/plugin-abstract/src/environment.ts
  packages/plugin-abstract/src/index.ts
  packages/plugin-abstract/tsconfig.json
  packages/plugin-abstract/tsup.config.ts
  packages/plugin-evm/src/templates/index.ts
  packages/plugin-evm/src/types/index.ts
  pnpm-lock.yaml
Labels: Plugin_new

#1446 feat: Add Text to 3D function
  agent/package.json
  agent/src/index.ts
  packages/plugin-3d-generation/.npmignore
  packages/plugin-3d-generation/eslint.config.mjs
  packages/plugin-3d-generation/package.json
  packages/plugin-3d-generation/src/constants.ts
  packages/plugin-3d-generation/src/index.ts
  packages/plugin-3d-generation/tsconfig.json
  packages/plugin-3d-generation/tsup.config.ts
Labels: Plugin_new

#1464 feat: Adding plugin for Cronos ZKEVM
  .env.example
  agent/package.json
  agent/src/index.ts
  packages/plugin-cronoszkevm/package.json
  packages/plugin-cronoszkevm/src/actions/transfer.ts
  packages/plugin-cronoszkevm/src/enviroment.ts
  packages/plugin-cronoszkevm/src/index.ts
  packages/plugin-cronoszkevm/tsconfig.json
  packages/plugin-cronoszkevm/tsup.config.ts
  pnpm-lock.yaml
Labels: Plugin_new

#1343 feat: Add agentic JSDoc generation
  .github/workflows/jsdoc-automation.yml
  scripts/jsdoc-automation/.example.env
  scripts/jsdoc-automation/.gitignore
  scripts/jsdoc-automation/README.md
  scripts/jsdoc-automation/package.json
  scripts/jsdoc-automation/pnpm-lock.yaml
  scripts/jsdoc-automation/pnpm-workspace.yaml
  scripts/jsdoc-automation/src/AIService.ts
  scripts/jsdoc-automation/src/Configuration.ts
  scripts/jsdoc-automation/src/DirectoryTraversal.ts
  scripts/jsdoc-automation/src/DocumentationGenerator.ts
  scripts/jsdoc-automation/src/GitManager.ts
  scripts/jsdoc-automation/src/JsDocAnalyzer.ts
  scripts/jsdoc-automation/src/JsDocGenerator.ts
  scripts/jsdoc-automation/src/TypeScriptFileIdentifier.ts
  scripts/jsdoc-automation/src/TypeScriptParser.ts
  scripts/jsdoc-automation/src/index.ts
  scripts/jsdoc-automation/src/types/index.ts
  scripts/jsdoc-automation/tsconfig.json
Labels: documentation, automation, Plugin_new

#1339 feat: handle long tweet
  packages/client-twitter/src/post.ts
Labels: Needs Testing

#1514 fix: client-twitter lowerCase bug and environment clean up (+lint fixes, and TWITTER_SEARCH_ENABLE double start fix)
  packages/client-twitter/src/base.ts
  packages/client-twitter/src/environment.ts
  packages/client-twitter/src/index.ts
  packages/client-twitter/src/interactions.ts
  packages/client-twitter/src/post.ts
  packages/client-twitter/src/search.ts
  packages/client-twitter/src/utils.ts
Labels: needs_documentation

#1525 feat: Add Livepeer Image Provider
  .env.example
  agent/src/index.ts
  docs/api/enumerations/ModelProviderName.md
  docs/api/type-aliases/Models.md
  docs/docs/api/enumerations/ModelProviderName.md
  docs/docs/api/type-aliases/Models.md
  docs/docs/guides/configuration.md
  docs/docs/quickstart.md
  packages/core/src/generation.ts
  packages/core/src/models.ts
  packages/core/src/types.ts
  packages/plugin-image-generation/src/index.ts
Labels: Needs Testing, ModelProvider_new

#1549 docs: Add JSDoc documentation
  packages/core/src/test_resources/createRuntime.ts
  packages/core/src/test_resources/types.ts
Labels: documentation, automated-pr

#1548 docs: Add JSDoc documentation
  packages/core/src/test_resources/createRuntime.ts
  packages/core/src/test_resources/types.ts
Labels: documentation, automated-pr
