Repository elizaOS/eliza, pull requests merged in 2025-03, with the labels that each got.

#3734 update agent endpoints
  packages/agent/src/server/api/agent.ts
Labels: V2

#3731 feat: client ui- Support agent configuration with plugins and environment variable
  packages/agent/src/server/api/agent.ts
  packages/client/src/App.tsx
  packages/client/src/components/agent-creator.tsx
  packages/client/src/components/agent-settings.tsx
  packages/client/src/components/character-form.tsx
  packages/client/src/components/overview.tsx
  packages/client/src/components/plugins-panel.tsx
  packages/client/src/components/profile-card.tsx
  packages/client/src/components/secret-panel.tsx
  packages/client/src/components/ui/action-card.tsx
  packages/client/src/components/ui/card-actions.tsx
  packages/client/src/lib/api.ts
  packages/client/src/routes/createAgent.tsx
  packages/client/src/routes/home.tsx
  packages/client/src/routes/settings.tsx
Labels: V2

#3750 fix: gui - WIP
  packages/agent/src/index.ts
  packages/agent/src/server/api/agent.ts
  packages/agent/src/server/api/index.ts
  packages/agent/src/server/index.ts
  packages/cli/src/commands/agent.ts
  packages/cli/src/utils/helpers.ts
  packages/client/src/App.tsx
  packages/client/src/components/agent-creator.tsx
  packages/client/src/components/agent-settings.tsx
  packages/client/src/components/app-sidebar.tsx
  packages/client/src/components/character-form.tsx
  packages/client/src/components/chat.tsx
  packages/client/src/components/plugins-panel.tsx
  packages/client/src/components/profile-card.tsx
  packages/client/src/components/secret-panel.tsx
  packages/client/src/hooks/use-agent-management.ts
  packages/client/src/hooks/use-query-hooks.ts
  packages/client/src/lib/api.ts
  packages/client/src/routes/home.tsx
  packages/client/src/routes/settings.tsx
  packages/client/tsconfig.node.tsbuildinfo
  packages/core/src/database.ts
  packages/core/src/runtime.ts
  packages/core/src/types.ts
  packages/plugin-sql/src/base.ts
  packages/plugin-sql/src/schema/agent.ts
Labels: V2

#3759 fix: client chat
  packages/agent/src/server/api/agent.ts
  packages/client/src/components/app-sidebar.tsx
  packages/client/src/components/chat.tsx
  packages/client/src/components/ui/chat/chat-bubble.tsx
  packages/client/src/routes/home.tsx
Labels: V2

#3765 fix: build error
  packages/client/src/components/chat.tsx
Labels: V2

#3766 feat: optimize fact retrivael, env fix, reflection guard
  packages/core/src/evaluators/reflection.ts
  packages/core/src/providers.ts
  packages/core/src/providers/facts.ts
  turbo.json
Labels: V2

#3761 fix linting and syntax errors in core swarm components
  packages/core/src/actions/roles.ts
Labels: V2

#3732 fix docker image for ci/cd setup
  Dockerfile
  package.json
  packages/client/src/components/chat.tsx
Labels: V2

#3767 fix: api issues
  packages/agent/src/server/api/agent.ts
Labels: V2

#3784 chore: fix docker build
  packages/cli/package.json
Labels: V2

#3791 feat: change playright over to patchright (ELI2-45)
  packages/plugin-node/package.json
  packages/plugin-node/src/services/browser.ts
Labels: V2

#3787 V2 fix build start issues
  package.json
  packages/agent/src/swarm/index.ts
  packages/plugin-twitter/package.json
  turbo.json
Labels: V2

#3808 fix playwright/patchright and db env loading issue
  .gitignore
  bun.lock
  packages/cli/src/commands/start.ts
  packages/plugin-local-ai/package.json
  packages/plugin-node/package.json
  packages/plugin-node/scripts/postinstall.js
Labels: V2

#3875 Add core types.
  packages/core/tsup.config.ts
Labels: core-system

#3876 fix missing moment rollup external, the-org
  packages/the-org/vite.config.ts
Labels: core-system

#3915 fix: discord plugin error
  packages/plugin-discord/tsup.config.ts
Labels: V2

#3909 feat: set avatar from assets folder
  packages/the-org/src/communityManager/index.ts
  packages/the-org/src/devRel/index.ts
  packages/the-org/src/investmentManager/index.ts
  packages/the-org/src/liaison/index.ts
  packages/the-org/src/projectManager/index.ts
  packages/the-org/src/socialMediaManager/index.ts
Labels: V2

#3918 fix: add back in local-ai + CI fixes
  .github/workflows/integrationTests.yaml
  .github/workflows/tauri-ci.yml
  packages/cli/src/characters/eliza.ts
Labels: V2

#3917 fix: fix client fetch URL
  packages/client/src/lib/api.ts
Labels: V2

#3921 fix: memory store
  packages/cli/src/server/api/agent.ts
  packages/cli/src/server/wss/index.ts
  packages/client/src/lib/websocket-manager.ts
Labels: V2

#3926 fix: chat window
  packages/client/src/components/chat.tsx
Labels: V2

#3929 feat: small UI tweak
  packages/client/src/components/app-sidebar.tsx
  packages/client/src/components/profile-card.tsx
  packages/client/src/routes/home.tsx
Labels: V2

#3930 feat: small ui tweak
  packages/client/src/components/app-sidebar.tsx
Labels: V2

#3924 fix: websocket issue with bun run start
  packages/the-org/package.json
Labels: V2

#3939 fix: gui stt & tts
  packages/client/src/components/ui/chat/chat-tts-button.tsx
  packages/client/src/routes/home.tsx
  packages/core/src/runtime.ts
Labels: V2

#3887 fix: update docker files
  Dockerfile
  docker-compose.yaml
Labels: V2

#3965 fix: refactor bubble layout
  packages/client/src/components/chat.tsx
Labels: V2

#3967 fix: show thoughts message in real time
  packages/client/src/components/chat.tsx
  packages/core/src/bootstrap.ts
Labels: V2

#3969 fix: aiwriter rerender issue
  packages/client/src/components/chat.tsx
Labels: V2

#3977 fix: store postgres connection URL properly in global config
  packages/cli/src/commands/create.ts
Labels: V2

#3966 fix: remove TEE logs out
  Dockerfile
  packages/core/src/types.ts
  packages/plugin-tee/package.json
  packages/plugin-tee/src/actions/remoteAttestationAction.ts
  packages/plugin-tee/src/adapters/sqliteDAO.ts
  packages/plugin-tee/src/adapters/sqliteTables.ts
  packages/plugin-tee/src/index.ts
  packages/plugin-tee/src/providers/deriveKeyProvider.ts
  packages/plugin-tee/src/providers/remoteAttestationProvider.ts
  packages/plugin-tee/src/services/teeLogManager.ts
  packages/plugin-tee/src/services/teeLogService.ts
  packages/plugin-tee/src/types.ts
  packages/plugin-tee/src/vendors/gramine.ts
  packages/plugin-tee/src/vendors/index.ts
  packages/plugin-tee/src/vendors/types.ts
Labels: V2

#3979 fix: Make client use relative URL & firefox fixes
  packages/client/src/components/chat.tsx
  packages/client/src/lib/api.ts
  packages/client/src/lib/socketio-manager.ts
  packages/client/src/lib/utils.ts
  packages/client/src/lib/world-manager.ts
Labels: V2

#4000 fix: reduce payload size to prevent db update failure
  packages/client/src/components/avatar-panel.tsx
  packages/client/src/components/character-form.tsx
  packages/client/src/components/group-panel.tsx
  packages/client/src/constants.ts
  packages/client/src/lib/utils.ts
Labels: V2

#3995 Fixed can't parse loglevel and enhance logger functionality with custom prettifiers format
  packages/core/src/logger.ts
Labels: V2

#3976 chore: plugin storage s3 test coverage
  packages/plugin-storage-s3/__tests__/awsS3.test.ts
  packages/plugin-storage-s3/__tests__/plugin.test.ts
  packages/plugin-storage-s3/__tests__/types.test.ts
  packages/plugin-storage-s3/package.json
  packages/plugin-storage-s3/vitest.config.ts
Labels: V2

#4010 feat: improve stack
  packages/client/src/components/agent-avatar-stack.tsx
  packages/client/src/components/app-sidebar.tsx
Labels: V2

#4012 feat: update agents status in group
  packages/client/src/components/app-sidebar.tsx
  packages/client/src/routes/home.tsx
Labels: V2

#4017 fix: openai stt
  packages/plugin-openai/src/index.ts
Labels: V2

#4033 feat: add drag & drop option for env uploading
  packages/client/src/components/secret-panel.tsx
Labels: V2

#4035 fix: opus issue
  packages/plugin-discord/package.json
Labels: V2

#4036 fix: discord voice
  packages/plugin-discord/src/service.ts
  packages/plugin-discord/src/voice.ts
Labels: Needs Testing, V2

#4056 feat: salt agent secrets
  packages/cli/src/commands/start.ts
  packages/cli/src/server/api/agent.ts
  packages/core/src/runtime.ts
  packages/core/src/settings.ts
Labels: V2

#4031 feat: ELI2-107/cli-improve-plugin-install-and-github-auth-ux
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/project.ts
  packages/cli/src/utils/github.ts
  packages/cli/src/utils/registry/index.ts
Labels: V2

#4072 fix: handle whitespace issue in GUI name field
  packages/client/src/components/group-panel.tsx
Labels: V2

#4076 fix: room status
  packages/client/src/components/app-sidebar.tsx
Labels: V2

#4077 feat: prevent message overlap
  packages/cli/src/server/api/index.ts
  packages/client/src/components/chat.tsx
  packages/client/src/lib/socketio-manager.ts
  packages/core/src/bootstrap.ts
  packages/core/src/types.ts
Labels: V2

#4080 feat: env settings gui
  packages/cli/src/commands/env.ts
  packages/cli/src/server/api/env.ts
  packages/cli/src/server/api/index.ts
  packages/client/src/App.tsx
  packages/client/src/components/env-settings.tsx
  packages/client/src/lib/api.ts
Labels: V2

#4079 fix: Use PUT method for GitHub file operations to handle non-existent directories
  packages/cli/src/utils/github.ts
Labels: V2

#4065 feat: [discord] community manager greet + timeout user
  packages/core/src/prompts.ts
  packages/plugin-discord/src/service.ts
  packages/the-org/src/communityManager/index.ts
  packages/the-org/src/communityManager/plugins/communityManager/actions/discord-timeout.ts
  packages/the-org/src/communityManager/plugins/communityManager/communityService.ts
  packages/the-org/src/communityManager/plugins/communityManager/index.ts
  packages/the-org/src/communityManager/plugins/communityManager/types.ts
  packages/the-org/src/index.ts
Labels: V2

#4066 PR 397.1
  packages/the-org/src/loadTest/__tests__/scale.test.ts
  packages/the-org/src/loadTest/__tests__/service.test.ts
  packages/the-org/src/loadTest/index.ts
  packages/the-org/src/loadTest/service.ts
  packages/the-org/src/loadTest/test-runner.js
  packages/the-org/src/loadTest/types.ts
  packages/the-org/src/loadTest/utils.ts
Labels: V2

#4078 Update JSDoc documentation across 62 files
  packages/core/README-automated.md
  packages/core/__tests__/database.test.ts
  packages/core/__tests__/evaluators.test.ts
  packages/core/__tests__/mockCharacter.ts
  packages/core/__tests__/runtime.test.ts
  packages/core/src/actions/choice.ts
  packages/core/src/actions/followRoom.ts
  packages/core/src/actions/ignore.ts
  packages/core/src/actions/muteRoom.ts
  packages/core/src/actions/none.ts
  packages/core/src/actions/reply.ts
  packages/core/src/actions/roles.ts
  packages/core/src/actions/sendMessage.ts
  packages/core/src/actions/settings.ts
  packages/core/src/actions/unfollowRoom.ts
  packages/core/src/actions/unmuteRoom.ts
  packages/core/src/actions/updateEntity.ts
  packages/core/src/bootstrap.ts
  packages/core/src/entities.ts
  packages/core/src/evaluators/reflection.ts
  packages/core/src/import.ts
  packages/core/src/logger.ts
  packages/core/src/providers/actions.ts
  packages/core/src/providers/anxiety.ts
  packages/core/src/providers/attachments.ts
  packages/core/src/providers/character.ts
  packages/core/src/providers/choice.ts
  packages/core/src/providers/entities.ts
  packages/core/src/providers/facts.ts
  packages/core/src/providers/knowledge.ts
  packages/core/src/providers/providers.ts
  packages/core/src/providers/recentMessages.ts
  packages/core/src/providers/relationships.ts
  packages/core/src/providers/roles.ts
  packages/core/src/providers/shouldRespond.ts
  packages/core/src/providers/time.ts
  packages/core/src/roles.ts
  packages/core/src/runtime.ts
  packages/core/src/services/scenario.ts
  packages/core/src/services/task.ts
  packages/core/src/services/websocket.ts
  packages/core/src/settings.ts
  packages/core/src/types.ts
  packages/core/src/uuid.ts
Labels: documentation, automated-pr

#4085 fix: settings action
  packages/core/src/actions/settings.ts
  packages/core/src/providers/settings.ts
Labels: Needs Testing, V2

#4099 feat: community manager
  packages/core/src/prompts.ts
  packages/plugin-discord/src/service.ts
  packages/the-org/src/communityManager/index.ts
  packages/the-org/src/communityManager/plugins/communityManager/actions/discord-timeout.ts
  packages/the-org/src/communityManager/plugins/communityManager/communityService.ts
  packages/the-org/src/communityManager/plugins/communityManager/index.ts
  packages/the-org/src/communityManager/plugins/communityManager/providers/timeout.ts
  packages/the-org/src/communityManager/plugins/communityManager/types.ts
Labels: V2
