Repository elizaOS/eliza, pull requests merged in 2025-01, with the labels that each got.

#1626 Fix double spaced tweets in Post.ts
  packages/client-twitter/src/post.ts
Labels: agent-reviewed, agent-commented

#1627 fix: turbo deps for plugin-evm
  turbo.json
Labels: agent-commented, agent-interacted

#1577 fix: activate web-search plugin in agents/
  .env.example
  .gitignore
  agent/package.json
  agent/src/index.ts
  packages/client-twitter/src/base.ts
  pnpm-lock.yaml
Labels: agent-commented, agent-interacted

#1377 fix: postgres-adapter - remove nonsensical schema check
  packages/adapter-postgres/src/index.ts
Labels: Needs Testing

#1605 fix: Support for Non-OpenAI Models in Token Trimming
  .env.example
  packages/client-discord/src/actions/chat_with_attachments.ts
  packages/client-discord/src/actions/summarize_conversation.ts
  packages/client-discord/src/attachments.ts
  packages/client-discord/src/utils.ts
  packages/client-slack/src/actions/chat_with_attachments.ts
  packages/client-slack/src/actions/summarize_conversation.ts
  packages/client-slack/src/attachments.ts
  packages/core/src/generation.ts
  packages/core/src/types.ts
  packages/core/tsup.config.ts
  packages/plugin-node/src/services/browser.ts
  pnpm-lock.yaml
Labels: testing

#1365 feat: use custom conditions for live monorepo types
  packages/adapter-postgres/package.json
  packages/adapter-redis/package.json
  packages/adapter-sqlite/package.json
  packages/adapter-sqljs/package.json
  packages/adapter-supabase/package.json
  packages/client-auto/package.json
  packages/client-direct/package.json
  packages/client-discord/package.json
  packages/client-farcaster/package.json
  packages/client-github/package.json
  packages/client-lens/package.json
  packages/client-slack/package.json
  packages/client-telegram/package.json
  packages/client-twitter/package.json
  packages/core/package.json
  packages/core/tsconfig.json
  packages/plugin-0g/package.json
  packages/plugin-3d-generation/package.json
  packages/plugin-abstract/package.json
  packages/plugin-aptos/package.json
  packages/plugin-avalanche/package.json
  packages/plugin-bootstrap/package.json
  packages/plugin-coinbase/package.json
  packages/plugin-conflux/package.json
  packages/plugin-cronoszkevm/package.json
  packages/plugin-echochambers/package.json
  packages/plugin-evm/package.json
  packages/plugin-ferePro/package.json
  packages/plugin-flow/package.json
  packages/plugin-fuel/package.json
  packages/plugin-gitbook/package.json
  packages/plugin-goat/package.json
  packages/plugin-icp/package.json
  packages/plugin-image-generation/package.json
  packages/plugin-intiface/package.json
  packages/plugin-multiversx/package.json
  packages/plugin-near/package.json
  packages/plugin-nft-generation/package.json
  packages/plugin-node/package.json
  packages/plugin-solana/package.json
  packages/plugin-starknet/package.json
  packages/plugin-story/package.json
  packages/plugin-sui/package.json
  packages/plugin-tee/package.json
  packages/plugin-ton/package.json
  packages/plugin-trustdb/package.json
  packages/plugin-twitter/package.json
  packages/plugin-video-generation/package.json
  packages/plugin-web-search/package.json
  packages/plugin-whatsapp/package.json
  packages/plugin-zksync-era/package.json
Labels: Needs Testing

#1722 🐛 fix plugins.md formatting for docs with dockerized docs validation
  Dockerfile.docs
  docker-compose-docs.yaml
  docs/README.md
  docs/docs/packages/plugins.md
  docs/package.json
Labels: documentation, enhancement

#1741 fix(client-slack): implement Media type properties in message attachments #1384
  packages/client-slack/jest.config.js
  packages/client-slack/src/messages.ts
Labels: Needs Testing

#1770 docs: add Romanian README translation
  README.md
  README_RO.md
Labels: documentation

#1558 feat: added new plugin - zktls - reclaim
  agent/package.json
  agent/src/index.ts
  package.json
  packages/core/src/generation.ts
  packages/core/src/runtime.ts
  packages/core/src/types.ts
  packages/plugin-reclaim/README.md
  packages/plugin-reclaim/package.json
  packages/plugin-reclaim/src/index.ts
  packages/plugin-reclaim/tsconfig.json
  pnpm-lock.yaml
Labels: Needs Testing, Plugin_new

#1467 feat: Make templates in composeContext dynamic
  docs/api/functions/composeContext.md
  docs/docs/api/functions/composeContext.md
  packages/client-twitter/src/post.ts
  packages/core/src/context.ts
  packages/core/src/tests/context.test.ts
  packages/core/src/types.ts
Labels: Needs Testing

#1373 feat: solana token deploy using solana agent kit
  agent/package.json
  agent/src/index.ts
  packages/plugin-solana-agentkit/.npmignore
  packages/plugin-solana-agentkit/eslint.config.mjs
  packages/plugin-solana-agentkit/package.json
  packages/plugin-solana-agentkit/src/actions/createToken.ts
  packages/plugin-solana-agentkit/src/index.ts
  packages/plugin-solana-agentkit/tsconfig.json
  packages/plugin-solana-agentkit/tsup.config.ts
  pnpm-lock.yaml
Labels: Needs Testing, Plugin_new

#1810 feat: add pglite db adapter
  .env.example
  .gitignore
  agent/package.json
  agent/src/index.ts
  docs/docs/packages/adapters.md
  packages/adapter-pglite/.npmignore
  packages/adapter-pglite/eslint.config.mjs
  packages/adapter-pglite/package.json
  packages/adapter-pglite/schema.sql
  packages/adapter-pglite/src/index.ts
  packages/adapter-pglite/tsconfig.json
  packages/adapter-pglite/tsup.config.ts
  packages/core/src/test_resources/createRuntime.ts
  pnpm-lock.yaml
Labels: Needs Testing

#1418 add thirdweb plugin
  .env.example
  agent/package.json
  agent/src/index.ts
  packages/plugin-thirdweb/.npmignore
  packages/plugin-thirdweb/README.md
  packages/plugin-thirdweb/eslint.config.mjs
  packages/plugin-thirdweb/package.json
  packages/plugin-thirdweb/src/actions/chat.ts
  packages/plugin-thirdweb/src/actions/index.ts
  packages/plugin-thirdweb/src/index.ts
  packages/plugin-thirdweb/tsconfig.json
  packages/plugin-thirdweb/tsup.config.ts
Labels: Needs Testing, Plugin_new

#1673 Opacity Verifiable Interference zkTLS Plugin
  .env.example
  agent/package.json
  agent/src/index.ts
  packages/core/src/generation.ts
  packages/core/src/types.ts
  packages/plugin-opacity/README.md
  packages/plugin-opacity/package.json
  packages/plugin-opacity/src/index.ts
  packages/plugin-opacity/src/utils/api.ts
  packages/plugin-opacity/tsconfig.json
  pnpm-lock.yaml
Labels: testing

#1785 feat: plugin new RabbiTrader
  packages/plugin-rabbi-trader/package.json
  packages/plugin-rabbi-trader/readme.md
  packages/plugin-rabbi-trader/src/actions.ts
  packages/plugin-rabbi-trader/src/actions/analyzeTrade.ts
  packages/plugin-rabbi-trader/src/config.ts
  packages/plugin-rabbi-trader/src/constants.ts
  packages/plugin-rabbi-trader/src/dexscreener.ts
  packages/plugin-rabbi-trader/src/evaluators/trust.ts
  packages/plugin-rabbi-trader/src/index.ts
  packages/plugin-rabbi-trader/src/providers/token.ts
  packages/plugin-rabbi-trader/src/providers/trustScoreProvider.ts
  packages/plugin-rabbi-trader/src/services/simulationService.ts
  packages/plugin-rabbi-trader/src/services/twitter.ts
  packages/plugin-rabbi-trader/src/swap.ts
  packages/plugin-rabbi-trader/src/tokenUtils.ts
  packages/plugin-rabbi-trader/src/types/index.ts
  packages/plugin-rabbi-trader/src/types/token.ts
  packages/plugin-rabbi-trader/src/utils.ts
  packages/plugin-rabbi-trader/src/utils/bignumber.ts
  packages/plugin-rabbi-trader/src/wallet.ts
  packages/plugin-rabbi-trader/tsconfig.json
  packages/plugin-rabbi-trader/tsup.config.ts
  packages/plugin-trustdb/src/adapters/trustScoreDatabase.ts
Labels: Plugin_new

#1773 Feature/add coinmarketcap plugin
  agent/package.json
  agent/src/index.ts
  packages/plugin-coinmarketcap/README.md
  packages/plugin-coinmarketcap/package.json
  packages/plugin-coinmarketcap/src/actions/getPrice/examples.ts
  packages/plugin-coinmarketcap/src/actions/getPrice/index.ts
  packages/plugin-coinmarketcap/src/actions/getPrice/service.ts
  packages/plugin-coinmarketcap/src/actions/getPrice/template.ts
  packages/plugin-coinmarketcap/src/actions/getPrice/types.ts
  packages/plugin-coinmarketcap/src/actions/getPrice/validation.ts
  packages/plugin-coinmarketcap/src/environment.ts
  packages/plugin-coinmarketcap/src/index.ts
  packages/plugin-coinmarketcap/src/types.ts
  packages/plugin-coinmarketcap/tsconfig.json
  packages/plugin-coinmarketcap/tsup.config.ts
  packages/plugin-defillama/README.md
  packages/plugin-defillama/package.json
  packages/plugin-defillama/src/actions/get-price.action.ts
  packages/plugin-defillama/src/environment.ts
  packages/plugin-defillama/src/index.ts
  packages/plugin-defillama/src/providers/defillama.provider.ts
  packages/plugin-defillama/tsconfig.json
  packages/plugin-defillama/tsup.config.ts
  pnpm-lock.yaml
Labels: Plugin_new

#1821 feat: improve zkstack based plugins
  packages/plugin-abstract/package.json
  packages/plugin-abstract/src/actions/index.ts
  packages/plugin-abstract/src/actions/transferAction.ts
  packages/plugin-abstract/src/constants/index.ts
  packages/plugin-abstract/src/environment.ts
  packages/plugin-abstract/src/hooks/index.ts
  packages/plugin-abstract/src/hooks/useGetAccount.ts
  packages/plugin-abstract/src/hooks/useGetWalletClient.ts
  packages/plugin-abstract/src/index.ts
  packages/plugin-abstract/src/utils/index.ts
  packages/plugin-abstract/src/utils/validateContext.ts
  packages/plugin-cronoszkevm/package.json
  packages/plugin-cronoszkevm/src/actions/index.ts
  packages/plugin-cronoszkevm/src/actions/transferAction.ts
  packages/plugin-cronoszkevm/src/constants/index.ts
  packages/plugin-cronoszkevm/src/enviroment.ts
  packages/plugin-cronoszkevm/src/hooks/index.ts
  packages/plugin-cronoszkevm/src/hooks/useGetAccount.ts
  packages/plugin-cronoszkevm/src/hooks/useGetWalletClient.ts
  packages/plugin-cronoszkevm/src/index.ts
  packages/plugin-cronoszkevm/src/utils/index.ts
  packages/plugin-cronoszkevm/src/utils/validateContext.ts
  packages/plugin-zksync-era/package.json
  packages/plugin-zksync-era/src/actions/index.ts
  packages/plugin-zksync-era/src/actions/transfer.ts
  packages/plugin-zksync-era/src/actions/transferAction.ts
  packages/plugin-zksync-era/src/constants/index.ts
  packages/plugin-zksync-era/src/enviroment.ts
  packages/plugin-zksync-era/src/hooks/index.ts
  packages/plugin-zksync-era/src/hooks/useGetAccount.ts
  packages/plugin-zksync-era/src/hooks/useGetWalletClient.ts
  packages/plugin-zksync-era/src/index.ts
  packages/plugin-zksync-era/src/utils/index.ts
  packages/plugin-zksync-era/src/utils/validateContext.ts
Labels: Needs Testing

#2022 feat: added nineteen.ai llm & image support
  .env.example
  agent/src/index.ts
  packages/core/src/generation.ts
  packages/core/src/models.ts
  packages/core/src/types.ts
  packages/plugin-image-generation/src/environment.ts
  packages/plugin-image-generation/src/index.ts
Labels: ModelProvider_new

#821 feat: Add Cloudflare AI Gateway support
  .env.example
  docs/docs/guides/configuration.md
  packages/core/src/generation.ts
Labels: Discussion

#2083 feat: add Quai integration
  .env.example
  agent/package.json
  agent/src/index.ts
  packages/plugin-quai/package.json
  packages/plugin-quai/readme.md
  packages/plugin-quai/src/actions/transfer.ts
  packages/plugin-quai/src/index.ts
  packages/plugin-quai/src/utils/index.ts
  packages/plugin-quai/tsconfig.json
  packages/plugin-quai/tsup.config.ts
Labels: Plugin_new

#1362 chore: Add UUID tests and fix version 5 bits
  packages/core/src/tests/uuid.test.ts
Labels: Needs Testing

#1369 feat: RP for plugin-tee-verifiable-log
  .env.example
  agent/package.json
  agent/src/index.ts
  packages/client-direct/package.json
  packages/client-direct/src/README.md
  packages/client-direct/src/index.ts
  packages/client-direct/src/verifiable-log-api.ts
  packages/core/src/types.ts
  packages/plugin-tee-verifiable-log/.npmignore
  packages/plugin-tee-verifiable-log/README.md
  packages/plugin-tee-verifiable-log/eslint.config.mjs
  packages/plugin-tee-verifiable-log/package.json
  packages/plugin-tee-verifiable-log/src/adapters/sqliteVerifiableDAO.ts
  packages/plugin-tee-verifiable-log/src/index.ts
  packages/plugin-tee-verifiable-log/src/providers/dreriveProvider.ts
  packages/plugin-tee-verifiable-log/src/providers/verifiableLogProvider.ts
  packages/plugin-tee-verifiable-log/src/test/deriveProvider.test.ts
  packages/plugin-tee-verifiable-log/src/test/providers.test.ts
  packages/plugin-tee-verifiable-log/src/types/logTypes.ts
  packages/plugin-tee-verifiable-log/tsconfig.json
  packages/plugin-tee-verifiable-log/tsup.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: Needs Testing, Plugin_new

#1482 feat: Add cross chain swaps through Squid Router
  .env.example
  agent/package.json
  agent/src/index.ts
  packages/plugin-squid-router/README.md
  packages/plugin-squid-router/eslint.config.mjs
  packages/plugin-squid-router/package.json
  packages/plugin-squid-router/src/actions/xChainSwap.ts
  packages/plugin-squid-router/src/helpers/utils.ts
  packages/plugin-squid-router/src/index.ts
  packages/plugin-squid-router/src/providers/squidRouter.ts
  packages/plugin-squid-router/src/templates/index.ts
  packages/plugin-squid-router/src/tests/router.test.ts
  packages/plugin-squid-router/src/types/index.ts
  packages/plugin-squid-router/tsconfig.json
  packages/plugin-squid-router/tsup.config.ts
Labels: Needs Testing, Plugin_new

#1442 feat: Add support for VoyageAI embeddings API
  .env.example
  packages/core/src/embedding.ts
  packages/core/src/tests/embeddings.test.ts
  packages/core/src/voyageai.ts
Labels: Needs Testing

#1417 feat: add birdeye plugin
  agent/package.json
  agent/src/index.ts
  packages/plugin-birdeye/.npmignore
  packages/plugin-birdeye/.nvmrc
  packages/plugin-birdeye/README.md
  packages/plugin-birdeye/eslint.config.mjs
  packages/plugin-birdeye/package.json
  packages/plugin-birdeye/src/actions/test-all-endpoints.ts
  packages/plugin-birdeye/src/actions/token-search-address.ts
  packages/plugin-birdeye/src/actions/token-search-symbol.ts
  packages/plugin-birdeye/src/actions/wallet-search-address.ts
  packages/plugin-birdeye/src/birdeye.ts
  packages/plugin-birdeye/src/constants.ts
  packages/plugin-birdeye/src/index.ts
  packages/plugin-birdeye/src/providers/agent-portfolio-provider.ts
  packages/plugin-birdeye/src/tests/birdeye.test.ts
  packages/plugin-birdeye/src/types/api/common.ts
  packages/plugin-birdeye/src/types/api/defi.ts
  packages/plugin-birdeye/src/types/api/pair.ts
  packages/plugin-birdeye/src/types/api/search.ts
  packages/plugin-birdeye/src/types/api/token.ts
  packages/plugin-birdeye/src/types/api/trader.ts
  packages/plugin-birdeye/src/types/api/wallet.ts
  packages/plugin-birdeye/src/types/shared.ts
  packages/plugin-birdeye/src/utils.ts
  packages/plugin-birdeye/tsconfig.json
  packages/plugin-birdeye/tsup.config.ts
Labels: Needs Testing, Plugin_new

#2682 feat(new-plugin): bittensor bitmind api for eliza
  .env.example
  agent/package.json
  agent/src/index.ts
  packages/client-twitter/src/interactions.ts
  packages/plugin-bittensor/.npmignore
  packages/plugin-bittensor/README.md
  packages/plugin-bittensor/eslint.config.mjs
  packages/plugin-bittensor/package.json
  packages/plugin-bittensor/src/actions/index.ts
  packages/plugin-bittensor/src/actions/sn34.ts
  packages/plugin-bittensor/src/evaluators/fact.ts
  packages/plugin-bittensor/src/evaluators/index.ts
  packages/plugin-bittensor/src/index.ts
  packages/plugin-bittensor/src/providers/index.ts
  packages/plugin-bittensor/src/providers/time.ts
  packages/plugin-bittensor/tsconfig.json
  packages/plugin-bittensor/tsup.config.ts
Labels: needs more work

#1427 feat(new-adapter): mongo-db adaptor
  .env.example
  .gitignore
  .turbo/config.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  agent/package.json
  agent/src/index.ts
  packages/adapter-mongodb/.npmignore
  packages/adapter-mongodb/eslint.config.mjs
  packages/adapter-mongodb/package.json
  packages/adapter-mongodb/src/__tests__/docker-compose.test.yml
  packages/adapter-mongodb/src/__tests__/mongodb-adapter.test.ts
  packages/adapter-mongodb/src/__tests__/run_tests.sh
  packages/adapter-mongodb/src/index.ts
  packages/adapter-mongodb/tsconfig.json
  packages/adapter-mongodb/tsup.config.ts
  pnpm-lock.yaml
Labels: Needs Testing, Plugin_new

#2136 feat: plugin Solana web3.js V2 & automated LPing on Orca
  agent/package.json
  agent/src/index.ts
  characters/lpmanager.character.json
  package.json
  packages/core/package.json
  packages/plugin-nft-generation/package.json
  packages/plugin-solana-agent-kit/package.json
  packages/plugin-solana-v2/README.md
  packages/plugin-solana-v2/package.json
  packages/plugin-solana-v2/src/actions/orca/managePositions.ts
  packages/plugin-solana-v2/src/character/orca/lpmanager.character.json
  packages/plugin-solana-v2/src/evaluators/orca/repositionEvaluator.ts
  packages/plugin-solana-v2/src/index.ts
  packages/plugin-solana-v2/src/providers/orca/positionProvider.ts
  packages/plugin-solana-v2/src/utils/TEE/deriveKeyProvider.ts
  packages/plugin-solana-v2/src/utils/TEE/remoteAttestationProvider.ts
  packages/plugin-solana-v2/src/utils/TEE/types.ts
  packages/plugin-solana-v2/src/utils/loadWallet.ts
  packages/plugin-solana-v2/src/utils/sendMessage.ts
  packages/plugin-solana-v2/src/utils/sendTransaction.ts
  packages/plugin-solana-v2/tsconfig.json
  packages/plugin-solana-v2/tsup.config.ts
  packages/plugin-solana/package.json
  pnpm-lock.yaml
Labels: Needs Testing

#1248 feat: news-plugin
  .env.example
  agent/package.json
  agent/src/index.ts
  packages/plugin-news/.npmignore
  packages/plugin-news/README.md
  packages/plugin-news/eslint.config.mjs
  packages/plugin-news/package.json
  packages/plugin-news/src/actions/index.ts
  packages/plugin-news/src/actions/news.ts
  packages/plugin-news/src/index.ts
  packages/plugin-news/tsconfig.json
  packages/plugin-news/tsup.config.ts
Labels: Needs Testing, Plugin_new, needs_documentation

#1238 feat(new-plugin): deva client integration
  .env.example
  agent/package.json
  agent/src/index.ts
  docs/api/enumerations/Clients.md
  docs/docs/packages/clients.md
  packages/client-deva/.npmignore
  packages/client-deva/eslint.config.mjs
  packages/client-deva/package.json
  packages/client-deva/src/base.ts
  packages/client-deva/src/controller.ts
  packages/client-deva/src/devaClient.ts
  packages/client-deva/src/enviroment.ts
  packages/client-deva/src/index.ts
  packages/client-deva/src/templates.ts
  packages/client-deva/src/types.ts
  packages/client-deva/tsconfig.json
  packages/client-deva/tsup.config.ts
  packages/core/src/defaultCharacter.ts
  packages/core/src/types.ts
  pnpm-lock.yaml
Labels: Needs Testing, Plugin_new, needs_documentation

#3103 docs: Add "What Did You Get Done This Week? 11" notes
  docs/community/Streams/01-2025/2025-01-17.md
  docs/community/Streams/01-2025/2025-01-24.md
Labels: documentation
