Repository elizaOS/eliza, pull requests merged in 2025-04, with the labels that each got.

#4091 fix: tg onboard -WIP
  packages/core/src/actions/settings.ts
  packages/core/src/bootstrap.ts
  packages/core/src/providers/settings.ts
  packages/core/src/roles.ts
  packages/core/src/types.ts
  packages/plugin-sql/src/base.ts
  packages/plugin-telegram/src/messageManager.ts
  packages/plugin-telegram/src/service.ts
  packages/plugin-telegram/src/types.ts
  packages/the-org/src/init.ts
Labels: V2

#4132 Chore/plugin publishing fixes
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/plugin.ts
  packages/cli/src/utils/github.ts
  packages/plugin-starter/package.json
Labels: V2

#4134 feat: tg community manager
  packages/plugin-telegram/src/service.ts
  packages/the-org/src/communityManager/plugins/communityManager/actions/timeout.ts
  packages/the-org/src/communityManager/plugins/communityManager/communityService.ts
  packages/the-org/src/communityManager/plugins/communityManager/index.ts
Labels: V2

#4030 chore: removed duplicate JSON import
  scripts/bug_hunt/main.py
Labels: V1

#3927 feat: Add Mem0 as AI SDK Provider
  .env.example
  agent/src/index.ts
  packages/core/package.json
  packages/core/src/generation.ts
  packages/core/src/models.ts
  packages/core/src/types.ts
Labels: V1

#3938 feat: Add Kluster AI as model provider
  .env.example
  agent/src/index.ts
  packages/core/src/generation.ts
  packages/core/src/models.ts
  packages/core/src/types.ts
Labels: V1

#4029 fix: Fix template variable inconsistency in `twitterPostTemplate`
  scripts/generatecharacter.js
Labels: V1

#4136 docs: added raiinmaker to .env.example
  .env.example
Labels: V1

#4144 feat: clean api
  packages/cli/src/server/api/agent.ts
  packages/client/src/lib/api.ts
Labels: V2

#4155 fix: cache interaction cursor + duplicate memory creation
  packages/plugin-sql/src/base.ts
  packages/plugin-twitter/src/interactions.ts
Labels: V2

#4162 feat: enhance avatar stack
  packages/client/src/components/agent-avatar-stack.tsx
  packages/client/src/components/app-sidebar.tsx
Labels: V2

#4092 added extensive UI Tests
  .gitignore
  packages/client/ui-tests/README.md
  packages/client/ui-tests/package-lock.json
  packages/client/ui-tests/package.json
  packages/client/ui-tests/playwright.config.ts
  packages/client/ui-tests/tests/01-web-interface-access.spec.ts
  packages/client/ui-tests/tests/02-basic-conversation.spec.ts
  packages/client/ui-tests/tests/03-character-configuration.spec.ts
  packages/client/ui-tests/tests/04-view-character-info.spec.ts
  packages/client/ui-tests/tests/05-modify-character-settings.spec.ts
  packages/client/ui-tests/tests/logger.ts
  packages/client/ui-tests/tests/setup.ts
  packages/client/ui-tests/tests/utils.ts
  packages/client/ui-tests/tsconfig.json
Labels: V2

#4161 add node_modules to .gitignore
  packages/plugin-starter/.gitignore
Labels: V2

#4166 fix: tg get world
  packages/plugin-telegram/src/service.ts
Labels: V2

#4165 fix: twitter interaction
  packages/plugin-twitter/src/interactions.ts
Labels: V2

#4137 fix: telegram to elizaos data model sync
  packages/plugin-telegram/src/service.ts
Labels: V2

#4175 fix: knowledge manager scroll issue
  packages/client/src/components/agent-sidebar.tsx
  packages/client/src/components/knowledge-manager.tsx
Labels: V2

#4169 chore: Refactor openai plugin
  bun.lockb
  packages/plugin-openai/src/index.ts
Labels: V2

#4114 chore: Update docs
  packages/docs/community/Analysis/20250324_20250330.md
  packages/docs/community/videos.md
  packages/docs/docs/cli/agent.md
  packages/docs/docs/cli/create.md
  packages/docs/docs/cli/dev.md
  packages/docs/docs/cli/env.md
  packages/docs/docs/cli/overview.md
  packages/docs/docs/cli/plugins.md
  packages/docs/docs/cli/projects.md
  packages/docs/docs/cli/start.md
  packages/docs/docs/core/overview.md
  packages/docs/docs/faq.md
  packages/docs/docs/quickstart.md
  packages/docs/docusaurus.config.ts
  packages/docs/scripts/update-registry.js
  packages/docs/src/components/HomepageHeader/index.jsx
  packages/docs/src/components/ShowcaseComponent.tsx
  packages/docs/src/components/VideoGallery/index.jsx
  packages/docs/src/components/VideoGallery/styles.module.css
  packages/docs/src/data/plugin-descriptions.json
  packages/docs/src/data/registry-users.tsx
  packages/docs/static/img/video-default-thumb.jpg
  packages/docs/static/img/video-thumbnails/bazaar-thumb.jpg
  packages/docs/static/img/video-thumbnails/beach-thumb.jpg
  packages/docs/static/img/video-thumbnails/clanktank-thumb.jpg
  packages/docs/static/img/video-thumbnails/council-thumb.jpg
  packages/docs/static/img/video-thumbnails/dubbing-thumb.jpg
  packages/docs/static/img/video-thumbnails/hack-thumb.jpg
  packages/docs/static/img/video-thumbnails/neon-thumb.jpg
  packages/docs/static/img/video-thumbnails/newyear-thumb.jpg
  packages/docs/static/img/video-thumbnails/pizza-thumb.jpg
  packages/docs/static/img/video-thumbnails/rebrand-thumb.jpg
  packages/docs/static/img/video-thumbnails/shawrunner-thumb.jpg
  packages/docs/static/img/video-thumbnails/solanahack-thumb.jpg
  packages/docs/static/img/video-thumbnails/sparta-thumb.jpg
  packages/docs/static/img/video-thumbnails/stonk2-thumb.jpg
  packages/docs/static/img/video-thumbnails/throne-thumb.jpg
  packages/docs/static/img/video-thumbnails/vote-thumb.jpg
Labels: V2

#4192 fix: twitter interaction
  packages/plugin-twitter/src/base.ts
  packages/plugin-twitter/src/interactions.ts
Labels: V2

#4173 feat: Test Coverage for plugin-bootstrap
  packages/client/src/components/room.tsx
  packages/client/src/hooks/use-version.tsx
  packages/client/src/lib/api.ts
  packages/client/src/lib/logger.ts
  packages/client/src/lib/socketio-manager.ts
  packages/client/vite.config.ts
  packages/plugin-bootstrap/__tests__/README.md
  packages/plugin-bootstrap/__tests__/actions.test.ts
  packages/plugin-bootstrap/__tests__/evaluators.test.ts
  packages/plugin-bootstrap/__tests__/logic.test.ts
  packages/plugin-bootstrap/__tests__/plugin.test.ts
  packages/plugin-bootstrap/__tests__/providers.test.ts
  packages/plugin-bootstrap/__tests__/services.test.ts
  packages/plugin-bootstrap/__tests__/test-utils.ts
  packages/plugin-evm/package.json
  packages/plugin-evm/pnpm-lock.yaml
Labels: V2

#4213 feat: Improve Reply Action to Use Pre-generated Responses
  packages/core/src/prompts.ts
  packages/plugin-bootstrap/src/actions/reply.ts
  packages/plugin-bootstrap/src/index.ts
Labels: V2

#4212 feat: skip should respond for dm
  packages/cli/src/server/api/agent.ts
  packages/core/src/prompts.ts
  packages/plugin-bootstrap/src/actions/reply.ts
  packages/plugin-bootstrap/src/index.ts
Labels: V2

#4207 fix openai object json parse error
  packages/plugin-openai/src/index.ts
Labels: V2

#4219 docs: Update README.md for telegram plugin
  packages/plugin-telegram/README.md
Labels: documentation, V2

#4185 fix: Eli2 134/make npm create eliza and npx elizaos create functionally identical
  packages/create-eliza/index.mjs
  packages/docs/docs/cli/create.md
Labels: V2

#4228 fix: Duplicate Provider Section in Prompt
  packages/plugin-twitter/src/interactions.ts
Labels: V2

#4237 fix: gui tts
  packages/cli/src/server/api/agent.ts
Labels: V2

#4220 fixed: agent subcommands
  packages/cli/src/commands/agent.ts
  packages/cli/src/server/api/agent.ts
  packages/plugin-sql/src/base.ts
Labels: V2

#4236 fix: transcription
  packages/cli/src/server/api/agent.ts
  packages/plugin-openai/src/index.ts
Labels: V2

#4197 initial commit for fixing delete character button
  packages/cli/src/server/api/agent.ts
  packages/client/src/components/agent-settings.tsx
  packages/client/src/components/character-form.tsx
  packages/client/src/lib/api.ts
  packages/plugin-sql/__tests__/delete-agent.test.ts
  packages/plugin-sql/package.json
  packages/plugin-sql/src/base.ts
Labels: V2

#4242 Fix GitHub Authentication Prompt During Start CLI Command
  packages/cli/src/utils/install-plugin.ts
  packages/cli/src/utils/package-manager.ts
  packages/cli/src/utils/registry/index.ts
Labels: V2

#4187 feat: Add message buttons
  packages/plugin-telegram/README.md
  packages/plugin-telegram/src/messageManager.ts
  packages/plugin-telegram/src/types.ts
  packages/plugin-telegram/src/utils.ts
Labels: V2

#4254 fix: replace deprecated vision model
  packages/plugin-openai/src/index.ts
Labels: V2

#4255 feat: openai tts
  packages/plugin-openai/src/index.ts
Labels: V2

#4257 ELI2-185/reflections-agent-asks-all-other-agents-deployed-how-its-doing
  packages/plugin-bootstrap/src/evaluators/reflection.ts
Labels: V2

#4259 feat: openai tts test
  packages/plugin-openai/src/index.ts
Labels: V2

#4264 fix: discord actions small fix
  packages/plugin-discord/src/actions/chatWithAttachments.ts
  packages/plugin-discord/src/actions/transcribeMedia.ts
Labels: V2

#4265 fix: discord voice join/leave action
  packages/plugin-discord/src/actions/voiceJoin.ts
  packages/plugin-discord/src/actions/voiceLeave.ts
Labels: V2

#4262 Replace Text Input with Dropdown for Voice Model Selection
  packages/client/src/components/character-form.tsx
  packages/client/src/components/plugins-panel.tsx
  packages/client/src/config/voice-models.ts
  packages/client/src/hooks/use-elevenlabs-voices.ts
Labels: V2

#4270 feat: gui- support for importing JSON to create or update agents
  packages/client/src/components/character-form.tsx
  packages/client/src/hooks/use-agent-update.ts
  packages/client/src/hooks/use-partial-update.ts
Labels: V2

#4209 Starting Agent Fix
  bun.lock
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/server/api/agent.ts
  packages/core/src/runtime.ts
Labels: V2

#4284 feat: created world provider with basic world metadata
  packages/plugin-bootstrap/src/index.ts
  packages/plugin-bootstrap/src/providers/world.ts
Labels: V2

#4291 feat: twitter plugin - Cleanup Unused Code and Support Long Tweets for Premium Accounts
  packages/plugin-twitter/src/constants.ts
  packages/plugin-twitter/src/interactions.ts
  packages/plugin-twitter/src/post.ts
  packages/plugin-twitter/src/utils.ts
Labels: V2

#4294 fix: use correct twitter post interval config in plugin-twitter package
  packages/plugin-twitter/src/post.ts
Labels: V2

#4296 fix: ensure plugins
  packages/cli/src/commands/start.ts
Labels: V2

#4295 Added Stop agent button in agent settings
  packages/client/src/components/agent-settings.tsx
  packages/client/src/components/character-form.tsx
  packages/client/src/components/profile-overlay.tsx
  packages/client/src/components/stop-agent-button.tsx
Labels: V2

#4223 fix: relationship between entities and agents
  packages/core/src/database.ts
  packages/core/src/runtime.ts
  packages/core/src/types.ts
  packages/plugin-sql/src/base.ts
Labels: V2

#4300 feat: enhance gui
  packages/client/src/components/character-form.tsx
  packages/client/src/constants.ts
Labels: V2

#4293 Onboarding Tour and Enabling Disabling the Input Button
  bun.lock
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/components/app-sidebar.tsx
  packages/client/src/components/character-form.tsx
  packages/client/src/components/chat.tsx
  packages/client/src/components/connection-status.tsx
  packages/client/src/components/onboarding-tour.tsx
  packages/client/src/components/profile-card.tsx
  packages/client/src/components/room.tsx
  packages/client/src/hooks/use-onboarding.tsx
  packages/client/src/lib/socketio-manager.ts
  packages/client/src/routes/home.tsx
  packages/core/src/runtime.ts
  packages/core/src/types.ts
  packages/plugin-bootstrap/src/index.ts
Labels: V2

#4307 fix: GUI Missing Requirement Indicator and Tooltips After Merge Conflict
  packages/client/src/components/character-form.tsx
Labels: V2

#4287 fix: expose telegram types
  packages/plugin-telegram/src/index.ts
Labels: V2

#4310 feat: add confirmation dialog for delete group
  packages/client/src/components/group-panel.tsx
  packages/client/src/components/log-viewer.tsx
Labels: V2

#4311 chore: Export bootstrap plugin capabilities
  packages/plugin-bootstrap/src/actions/index.ts
  packages/plugin-bootstrap/src/actions/roles.ts
  packages/plugin-bootstrap/src/actions/settings.ts
  packages/plugin-bootstrap/src/evaluators/index.ts
  packages/plugin-bootstrap/src/index.ts
  packages/plugin-bootstrap/src/providers/index.ts
Labels: V2

#4243 fix: knowledge types
  packages/core/src/types.ts
Labels: V2

#4233 chore: video understanding plugin tests
  packages/plugin-video-understanding/__tests__/plugin.test.ts
  packages/plugin-video-understanding/__tests__/types.test.ts
  packages/plugin-video-understanding/__tests__/video.test.ts
  packages/plugin-video-understanding/package.json
  packages/plugin-video-understanding/vitest.config.ts
Labels: V2

#4317 fix: persistent beacon by handling tour close action
  packages/client/src/components/onboarding-tour.tsx
Labels: V2

#4318 fix: Use utils-based UUID for broader browser support
  packages/client/src/components/room.tsx
Labels: V2

#4230 feat: Add OpenAi model usage events
  packages/core/src/types.ts
  packages/plugin-openai/src/index.ts
Labels: V2

#4261 Added: Instrumentation
  README.md
  bun.lock
  packages/cli/src/commands/start.ts
  packages/cli/src/server/api/index.ts
  packages/client/src/lib/api.ts
  packages/core/__tests__/runtime.test.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/instrumentation/Readme.md
  packages/core/src/instrumentation/index.ts
  packages/core/src/instrumentation/scripts/setup_instrumentation.sh
  packages/core/src/instrumentation/scripts/setup_traces_table.sql
  packages/core/src/instrumentation/service.ts
  packages/core/src/instrumentation/types.ts
  packages/core/src/runtime.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/core/tsup.config.ts
  packages/plugin-openai/src/index.ts
  packages/plugin-twitter/src/client/client.ts
  packages/plugin-twitter/src/client/tweets.ts
  packages/plugin-video-understanding/__tests__/types.test.ts
  packages/plugin-video-understanding/__tests__/video.test.ts
  packages/plugin-video-understanding/vitest.config.ts
Labels: V2

#4323 Added Default Agents based on the org
  bun.lock
  packages/cli/src/server/api/index.ts
  packages/client/package.json
  packages/client/src/components/agent-creator.tsx
  packages/client/src/components/character-form.tsx
  packages/client/src/config/agent-templates.ts
  packages/client/src/hooks/__tests__/use-agent-update.test.tsx
  packages/client/src/hooks/use-agent-update.ts
  packages/core/src/instrumentation/index.ts
  packages/core/src/instrumentation/service.ts
  packages/core/src/instrumentation/types.ts
  packages/core/src/utils.ts
Labels: enhancement, V2

#4328 fix: gui - sync envs state with updated characterValue props
  packages/client/src/components/secret-panel.tsx
Labels: V2

#4331 fix: Prevent repetitive agent replies
  packages/plugin-bootstrap/src/providers/recentMessages.ts
Labels: V2

#4337 fix: agent not found error after GUI creation and resolve merge conflict
  packages/core/src/runtime.ts
  packages/plugin-sql/src/base.ts
Labels: V2

#4344 feat: skip display banner if not utf-8
  packages/cli/src/displayBanner.ts
Labels: V2

#4348 feat: V2 QoL improvements
  bun.lock
  packages/cli/src/commands/start.ts
  packages/cli/src/server/index.ts
  packages/client/vite.config.ts
  packages/core/src/entities.ts
  packages/core/src/prompts.ts
  packages/core/src/runtime.ts
  packages/plugin-bootstrap/src/index.ts
  packages/plugin-bootstrap/src/providers/character.ts
  packages/plugin-bootstrap/src/services/task.ts
  packages/plugin-discord/src/messages.ts
  packages/plugin-solana/src/providers/wallet.ts
  packages/plugin-solana/src/service.ts
  packages/plugin-twitter/src/base.ts
  packages/plugin-twitter/src/interactions.ts
Labels: V2

#4351 fix: cli start agent
  packages/cli/src/commands/agent.ts
Labels: V2

#4345 added bc .gitignore wasnt getting copied from plugin-starter
  packages/cli/src/utils/copy-template.ts
Labels: V2

#4352 fix: tts api
  packages/cli/src/server/api/agent.ts
  packages/cli/src/utils/audioBuffer.ts
Labels: V2

#4279 refactor: improve telegram markdown parsing
  packages/plugin-telegram/__tests__/utils.test.ts
  packages/plugin-telegram/src/messageManager.ts
  packages/plugin-telegram/src/utils.ts
Labels: V2

#4335 Feat: enable path params routes for plugins
  bun.lock
  packages/cli/package.json
  packages/cli/src/server/api/index.ts
Labels: V2

#4292 update memory.ts to use the new schema
  packages/plugin-sql/drizzle/migrations/0001_third_tyger_tiger.sql
  packages/plugin-sql/drizzle/migrations/meta/0001_snapshot.json
  packages/plugin-sql/drizzle/migrations/meta/_journal.json
  packages/plugin-sql/package.json
  packages/plugin-sql/src/schema/memory.ts
Labels: V2

#4383 fix: Add API Key Validation for Anthropic Plugin Model Calls
  packages/plugin-anthropic/src/index.ts
Labels: V2

#4382 fix: escape docker compose postgres healthcheck
  docker-compose.yaml
Labels: V2

#4395 fix: agent deletion
  packages/plugin-sql/src/base.ts
Labels: V2
