Repository elizaOS/eliza, pull requests merged in 2025-02, with the labels that each got.

#3429 feat: v1 CLI utility
  package.json
  packages/cli/index.js
  packages/cli/package.json
  pnpm-lock.yaml
Labels: documentation

#3452 feat: elevenlabs plugin
  packages/agent/src/defaultCharacter.ts
  packages/plugin-elevenlabs/.gitignore
  packages/plugin-elevenlabs/.npmignore
  packages/plugin-elevenlabs/README.md
  packages/plugin-elevenlabs/biome.json
  packages/plugin-elevenlabs/package.json
  packages/plugin-elevenlabs/src/index.ts
  packages/plugin-elevenlabs/src/utils.ts
  packages/plugin-elevenlabs/tsconfig.json
  packages/plugin-elevenlabs/tsup.config.ts
  packages/plugin-elevenlabs/vitest.config.ts
Labels: V2

#3486 Vector Dimensions & Character Schema Updates
  .env.example
  packages/agent/src/index.ts
  packages/agent/src/plugins.test.ts
  packages/agent/src/single-agent/character.ts
  packages/core/src/database.ts
  packages/core/src/runtime.ts
  packages/core/src/types.ts
  packages/plugin-discord/src/actions/joinvoice.ts
  packages/plugin-discord/src/messages.ts
  packages/plugin-discord/src/voice.ts
  packages/plugin-drizzle/README.md
  packages/plugin-drizzle/drizzle.config.ts
  packages/plugin-drizzle/drizzle/migrations/20250201002018_init.sql
  packages/plugin-drizzle/drizzle/migrations/20250215003323_create_extensions.sql
  packages/plugin-drizzle/drizzle/migrations/20250216015710_create_schema.sql
  packages/plugin-drizzle/drizzle/migrations/20250216015713_create_hnsw_vector_indices.sql
  packages/plugin-drizzle/drizzle/migrations/meta/20250201002018_snapshot.json
  packages/plugin-drizzle/drizzle/migrations/meta/20250216015710_snapshot.json
  packages/plugin-drizzle/drizzle/migrations/meta/20250216015713_snapshot.json
  packages/plugin-drizzle/drizzle/migrations/meta/_journal.json
  packages/plugin-drizzle/src/index.ts
  packages/plugin-drizzle/src/schema.ts
  packages/plugin-drizzle/src/schema/account.ts
  packages/plugin-drizzle/src/schema/cache.ts
  packages/plugin-drizzle/src/schema/character.ts
  packages/plugin-drizzle/src/schema/embedding.ts
  packages/plugin-drizzle/src/schema/goal.ts
  packages/plugin-drizzle/src/schema/index.ts
  packages/plugin-drizzle/src/schema/log.ts
  packages/plugin-drizzle/src/schema/memory.ts
  packages/plugin-drizzle/src/schema/participant.ts
  packages/plugin-drizzle/src/schema/relationship.ts
  packages/plugin-drizzle/src/schema/room.ts
  packages/plugin-drizzle/src/schema/types.ts
  packages/plugin-drizzle/tsconfig.json
  packages/plugin-sqlite/src/index.ts
Labels: V2

#3526 Refactor - Plugin Local AI
  packages/plugin-local-ai/__tests__/image-desc.test.ts
  packages/plugin-local-ai/__tests__/test-utils.ts
  packages/plugin-local-ai/__tests__/text-gen.test.ts
  packages/plugin-local-ai/__tests__/text-summ.test.ts
  packages/plugin-local-ai/__tests__/text-transcribe.test.ts
  packages/plugin-local-ai/__tests__/tts.test.ts
  packages/plugin-local-ai/package.json
  packages/plugin-local-ai/src/index.ts
  packages/plugin-local-ai/src/types.ts
  packages/plugin-local-ai/src/utils/audioUtils.ts
  packages/plugin-local-ai/src/utils/downloadManager.ts
  packages/plugin-local-ai/src/utils/platform.ts
  packages/plugin-local-ai/src/utils/runtime_test.ts
  packages/plugin-local-ai/src/utils/tokenizerManager.ts
  packages/plugin-local-ai/src/utils/transcribeManager.ts
  packages/plugin-local-ai/src/utils/ttsManager.ts
  packages/plugin-local-ai/src/utils/visionManager.ts
Labels: V2

#3595 feat: V2 update character management
  packages/cli/src/commands/character.ts
Labels: V2

#3608 fix: discord actions
  packages/plugin-discord/src/actions/chatWithAttachments.ts
  packages/plugin-discord/src/actions/dm.ts
  packages/plugin-discord/src/actions/joinvoice.ts
  packages/plugin-discord/src/actions/leavevoice.ts
  packages/plugin-discord/src/actions/summarizeConversation.ts
  packages/plugin-discord/src/index.ts
  packages/plugin-discord/src/messages.ts
  packages/plugin-node/src/services/video.ts
Labels: V2

#3612 feat: improve test plugin
  packages/agent/package.json
  packages/agent/src/plugins.test.ts
  packages/plugin-elevenlabs/src/index.ts
Labels: V2

#3451 fix plugins installing during init and plugins add
  packages/cli/.env.example
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/plugins.ts
  packages/cli/src/utils/install-plugin.ts
  packages/cli/src/utils/run-bun.ts
Labels: V2

#3613 feat: Agent/Character cli methods + refactor server
  packages/agent/src/index.ts
  packages/agent/src/server/api.ts
  packages/agent/src/server/helper.ts
  packages/agent/src/server/index.ts
  packages/agent/src/server/loader.ts
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/character.ts
  packages/cli/src/utils/cli-prompts.ts
  packages/cli/src/utils/helpers.ts
  packages/cli/src/utils/with-connection.ts
  packages/core/src/runtime.ts
Labels: V2

#2388 feat: replace AgentRuntime to his interface to extend client
  packages/client-direct/src/index.ts
Labels: needs more work

#3598 feat: add pglite support & database design
  bun.lockb
  packages/agent/src/plugins.test.ts
  packages/cli/src/database.ts
  packages/plugin-sql/drizzle/migrations/20250215003323_create_extensions.sql
  packages/plugin-sql/drizzle/migrations/20250216015713_create_hnsw_vector_indices.sql
  packages/plugin-sql/package.json
  packages/plugin-sql/src/base.ts
  packages/plugin-sql/src/index.ts
  packages/plugin-sql/src/migrations.ts
  packages/plugin-sql/src/pg-lite/adapter.ts
  packages/plugin-sql/src/pg-lite/manager.ts
  packages/plugin-sql/src/pg/adapter.ts
  packages/plugin-sql/src/pg/manager.ts
  packages/plugin-sql/src/types.ts
  packages/plugin-sql/tsconfig.json
  packages/plugin-twitter/src/interactions.ts
Labels: V2

#3624 fix: Telegram E2E Test and Group Chat Issue
  packages/plugin-telegram/src/messageManager.ts
  packages/plugin-telegram/src/tests.ts
Labels: V2

#3625 fix: twitter client embedding dimension
  packages/core/src/runtime.ts
  packages/core/src/types.ts
Labels: V2

#3622 fix: social vitest
  packages/core/src/runtime.ts
  packages/core/src/types.ts
  packages/plugin-discord/__tests__/discord-client.test.ts
  packages/plugin-discord/__tests__/messageManager.test.ts
  packages/plugin-telegram/__tests__/telegramClient.test.ts
  packages/plugin-telegram/src/messageManager.ts
  packages/plugin-telegram/src/tests.ts
Labels: V2

#3655 feat: space action
  packages/core/src/types.ts
  packages/plugin-twitter/src/actions/spaceJoin.ts
  packages/plugin-twitter/src/client/spaces/core/SpaceParticipant.ts
  packages/plugin-twitter/src/index.ts
  packages/plugin-twitter/src/spaces.ts
  packages/plugin-twitter/src/sttTtsSpaces.ts
  packages/plugin-twitter/src/tests.ts
  packages/plugin-twitter/src/utils.ts
Labels: V2

#3648 feat: add agent server opitons with middleware settings
  packages/agent/src/server/index.ts
Labels: V2

#3663 chore:(refactor) - plugin-local-ai-final
  .env.example
  packages/plugin-local-ai/README.md
  packages/plugin-local-ai/__tests__/text-summ.test.ts
  packages/plugin-local-ai/environment.ts
  packages/plugin-local-ai/src/environment.ts
  packages/plugin-local-ai/src/index.ts
  packages/plugin-local-ai/src/types.ts
  packages/plugin-local-ai/src/utils/downloadManager.ts
  packages/plugin-local-ai/src/utils/ollamaManager.ts
  packages/plugin-local-ai/src/utils/studiolmManager.ts
  packages/plugin-local-ai/src/utils/ttsManager.ts
  packages/plugin-local-ai/src/utils/visionManager.ts
Labels: V2

#3668 fix: set up dimension before starting client
  packages/core/src/runtime.ts
Labels: V2

#3677 fix: twitter crash issue
  packages/plugin-twitter/src/base.ts
  packages/plugin-twitter/src/interactions.ts
Labels: V2

#3681 fix: PDF Message Sending Failure & getInstance Bug
  packages/core/src/runtime.ts
  packages/core/src/types.ts
  packages/plugin-discord/src/messages.ts
Labels: V2

#3680 fix: discord voiceJoin/voiceLeave action
  packages/core/src/runtime.ts
  packages/core/src/types.ts
  packages/plugin-discord/src/actions/voiceJoin.ts
  packages/plugin-discord/src/actions/voiceLeave.ts
  packages/plugin-discord/src/messages.ts
Labels: V2

#3711 feat: ANTHROPIC_API_URL env.
  .env.example
  packages/core/src/models.ts
Labels: enhancement

#3674 fix: re-init migration issue
  packages/plugin-sql/drizzle/migrations/20250226020822_create_extensions.sql
  packages/plugin-sql/drizzle/migrations/20250226020904_init_schema.sql
  packages/plugin-sql/drizzle/migrations/meta/20250226020822_snapshot.json
  packages/plugin-sql/drizzle/migrations/meta/20250226020904_snapshot.json
  packages/plugin-sql/drizzle/migrations/meta/_journal.json
  packages/plugin-sql/src/pg-lite/manager.ts
  packages/plugin-sql/src/pg/manager.ts
Labels: V2

#3704 refactor: plugin local ai new
  packages/plugin-local-ai/__tests__/initialization.test.ts
  packages/plugin-local-ai/src/environment.ts
  packages/plugin-local-ai/src/index.ts
  packages/plugin-local-ai/src/types/index.ts
  packages/plugin-local-ai/src/utils/downloadManager.ts
  packages/plugin-local-ai/src/utils/platform.ts
  packages/plugin-local-ai/src/utils/tokenizerManager.ts
  packages/plugin-local-ai/src/utils/transcribeManager.ts
  packages/plugin-local-ai/src/utils/ttsManager.ts
  packages/plugin-local-ai/src/utils/visionManager.ts
Labels: Needs Testing, V2
