Repository elizaOS/eliza, pull requests merged in 2025-05, with the labels that each got.

#4402 Chore/remove plugin storage s3
  bun.lock
  packages/plugin-storage-s3/.npmignore
  packages/plugin-storage-s3/LICENSE
  packages/plugin-storage-s3/README.md
  packages/plugin-storage-s3/__tests__/awsS3.test.ts
  packages/plugin-storage-s3/__tests__/plugin.test.ts
  packages/plugin-storage-s3/__tests__/types.test.ts
  packages/plugin-storage-s3/package.json
  packages/plugin-storage-s3/scripts/postinstall.js
  packages/plugin-storage-s3/src/index.ts
  packages/plugin-storage-s3/src/services/awsS3.ts
  packages/plugin-storage-s3/src/types.ts
  packages/plugin-storage-s3/tsconfig.build.json
  packages/plugin-storage-s3/tsconfig.json
  packages/plugin-storage-s3/tsup.config.ts
  packages/plugin-storage-s3/vitest.config.ts
Labels: V2

#4414 fix: Don't make unneeded express object
  packages/cli/src/server/index.ts
Labels: V2

#4420 feat: add auth middleware + api key dialog if unauth
  packages/cli/src/server/authMiddleware.ts
  packages/cli/src/server/index.ts
  packages/client/src/App.tsx
  packages/client/src/components/api-key-dialog.tsx
  packages/client/src/components/app-sidebar.tsx
  packages/client/src/components/connection-error-banner.tsx
  packages/client/src/components/connection-status.tsx
  packages/client/src/components/env-settings.tsx
  packages/client/src/context/AuthContext.tsx
  packages/client/src/context/ConnectionContext.tsx
  packages/client/src/lib/api.ts
  packages/client/src/routes/chat.tsx
Labels: V2

#4406 chore: remove plugin-browser from monorepo
  bun.lock
  packages/plugin-browser/.npmignore
  packages/plugin-browser/LICENSE
  packages/plugin-browser/README.md
  packages/plugin-browser/__tests__/awsS3.test.ts
  packages/plugin-browser/__tests__/browser.test.ts
  packages/plugin-browser/__tests__/pdf.test.ts
  packages/plugin-browser/__tests__/plugin.test.ts
  packages/plugin-browser/__tests__/types.test.ts
  packages/plugin-browser/__tests__/video.test.ts
  packages/plugin-browser/package.json
  packages/plugin-browser/scripts/postinstall.js
  packages/plugin-browser/src/index.ts
  packages/plugin-browser/src/services/browser.ts
  packages/plugin-browser/src/services/index.ts
  packages/plugin-browser/src/types.ts
  packages/plugin-browser/tsconfig.build.json
  packages/plugin-browser/tsconfig.json
  packages/plugin-browser/tsup.config.ts
  packages/plugin-browser/vitest.config.ts
Labels: V2

#4429 feat: twitter timeline
  .env.example
  packages/core/src/prompts.ts
  packages/plugin-twitter/src/index.ts
  packages/plugin-twitter/src/post.ts
  packages/plugin-twitter/src/templates.ts
  packages/plugin-twitter/src/timeline.ts
Labels: V2

#4430 fix: [plugin-twitter] small clean up
  packages/plugin-twitter/src/templates.ts
  packages/plugin-twitter/src/utils.ts
Labels: V2

#4427 chore: remove plugin-anthropic from monorepo
  bun.lock
  packages/plugin-anthropic/.gitignore
  packages/plugin-anthropic/.npmignore
  packages/plugin-anthropic/LICENSE
  packages/plugin-anthropic/README.md
  packages/plugin-anthropic/__tests__/index.test.ts
  packages/plugin-anthropic/__tests__/utils.test.ts
  packages/plugin-anthropic/package.json
  packages/plugin-anthropic/src/index.ts
  packages/plugin-anthropic/src/utils.ts
  packages/plugin-anthropic/tsconfig.build.json
  packages/plugin-anthropic/tsconfig.json
  packages/plugin-anthropic/tsup.config.ts
  packages/plugin-anthropic/vitest.config.ts
  packages/project-starter/package.json
Labels: V2

#4431 fix: small template fix
  packages/plugin-twitter/src/templates.ts
Labels: V2

#4422 chore: remove hackish solution for cp migrations
  packages/cli/drizzle/extension.sql
  packages/cli/drizzle/migrations/0000_low_anita_blake.sql
  packages/cli/drizzle/migrations/meta/0000_snapshot.json
  packages/cli/drizzle/migrations/meta/_journal.json
  packages/cli/package.json
  packages/cli/src/scripts/copy-drizzle.ts
  packages/plugin-sql/src/pg/manager.ts
  packages/plugin-sql/src/pglite/manager.ts
Labels: V2

#4423 feat: use unique pglite folder if not provided
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/env.ts
  packages/cli/src/utils/get-config.ts
Labels: V2

#4415 fix: make plugin.routes work
  packages/cli/src/server/api/agent.ts
Labels: V2

#4435 Eli2 272/cli fix incorrect version detection to show correct latest cli version
  packages/cli/src/commands/publish.ts
  packages/cli/src/commands/update-cli.ts
  packages/cli/src/commands/update.ts
  packages/cli/src/utils/displayBanner.ts
  packages/cli/src/utils/package-manager.ts
Labels: V2

#4424 Eli2 268/refactor and enhance elizaos publish cli command
  packages/cli/src/commands/publish.ts
  packages/cli/src/scripts/copy-templates.ts
  packages/cli/src/utils/copy-template.ts
  packages/cli/src/utils/github.ts
  packages/cli/src/utils/publisher.ts
  packages/cli/test/README.md
  packages/cli/test/publisher.test.js
  packages/cli/test/registry-publishing.test.js
  packages/plugin-starter/README.md
  packages/plugin-starter/package.json
  packages/project-starter/.gitignore
  packages/project-starter/package.json
Labels: V2

#4445 chore: refactor env getting
  .github/workflows/cli-tests.yml
  bun.lock
  packages/cli/__test_scripts__/test_start.bats
  packages/cli/package.json
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/env.ts
  packages/cli/src/commands/plugins.ts
  packages/cli/src/plugins.ts
  packages/cli/src/server/api/agent.ts
  packages/cli/src/utils/config-manager.ts
  packages/cli/src/utils/env-prompt.ts
  packages/cli/src/utils/get-config.ts
  packages/cli/src/utils/get-package-info.ts
  packages/cli/src/utils/github.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/install-plugin.ts
  packages/cli/src/utils/load-plugin.ts
  packages/cli/src/utils/monorepo-utils.ts
  packages/cli/src/utils/monorepoUtils.ts
  packages/cli/src/utils/package-manager.ts
  packages/cli/src/utils/user-environment.ts
  packages/client/src/components/api-key-dialog.tsx
  packages/docs/blog/autofun-intro.mdx
  packages/docs/blog/autofun-tokenomics.mdx
Labels: V2

#4456 fix: plugin install cmd plugins & start
  bun.lock
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/plugins.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/utils/display-banner.ts
  packages/project-starter/package.json
Labels: V2

#4428 chore: remove plugin-redpill from monorepo
  bun.lock
  packages/plugin-redpill/.gitignore
  packages/plugin-redpill/.npmignore
  packages/plugin-redpill/LICENSE
  packages/plugin-redpill/README.md
  packages/plugin-redpill/package.json
  packages/plugin-redpill/src/index.ts
  packages/plugin-redpill/tsconfig.build.json
  packages/plugin-redpill/tsconfig.json
  packages/plugin-redpill/tsup.config.ts
  packages/plugin-redpill/vitest.config.ts
Labels: V2

#4450 fix: discord service unregister timeout
  packages/plugin-discord/src/service.ts
Labels: V2

#4465 fix client scroll bars
  packages/client/src/App.tsx
  packages/client/src/components/action-viewer.tsx
  packages/client/src/components/agent-sidebar.tsx
  packages/client/src/components/connection-error-banner.tsx
  packages/client/src/components/ui/sidebar.tsx
  packages/client/src/components/ui/tabs.tsx
Labels: Client: Direct

#4478 chore: cleaner load-plugin code
  packages/cli/src/utils/load-plugin.ts
Labels: V2

#4195 chore: make cleanup script compatible across platforms
  scripts/clean.sh
Labels: V1

#4470 docs: changelog - Fix typos and improve dependencies management
  docs/docs/changelog.md
Labels: V1

#4198 fix: fix json parse problem with nested objects
  packages/core/src/parsing.ts
Labels: V1

#4235 fix: Semantic splitText
  packages/core/src/generation.ts
Labels: V1

#4482 chore: fix type errors in CLI, fs.exists is deprecated
  packages/cli/src/utils/config-manager.ts
Labels: V2

#4459 chore: remove StudioLM support, focus on llama.cpp
  packages/plugin-local-ai/README.md
  packages/plugin-local-ai/__tests__/image-desc.test.ts
  packages/plugin-local-ai/__tests__/initialization.test.ts
  packages/plugin-local-ai/__tests__/text-gen.test.ts
  packages/plugin-local-ai/__tests__/text-transcribe.test.ts
  packages/plugin-local-ai/__tests__/tts.test.ts
  packages/plugin-local-ai/src/environment.ts
  packages/plugin-local-ai/src/index.ts
  packages/plugin-local-ai/src/types/index.ts
  packages/plugin-local-ai/src/utils/studiolmManager.ts
  packages/plugin-local-ai/src/utils/ttsManager.ts
Labels: V2

#4467 Delete all memories API and client hooks.
  packages/cli/src/server/api/agent.ts
  packages/client/src/hooks/use-query-hooks.ts
  packages/client/src/lib/api.ts
  packages/plugin-sql/src/base.ts
Labels: V2

#4497 chore: fix pglite dir
  packages/plugin-sql/src/migrate.ts
Labels: V2

#4500 Use real drizzle ORM for DB base operation types.
  packages/cli/src/server/index.ts
  packages/core/src/database.ts
  packages/core/src/types.ts
  packages/plugin-sql/src/base.ts
  packages/plugin-sql/src/schema/agent.ts
  packages/plugin-sql/src/schema/entity.ts
  packages/plugin-sql/src/types.ts
Labels: V2

#4483 Update README.md
  client/README.md
Labels: V1

#4488 Create README_IND.md
  README_IDN.md
Labels: V1

#4510 fix: delete agents that have been in room
  packages/plugin-sql/src/schema/log.ts
Labels: 1.x

#4508 Enhance message handling and text escaping by adding null checks.
  packages/plugin-telegram/src/messageManager.ts
  packages/plugin-telegram/src/utils.ts
Labels: 1.x

#4496 fix: tts manager and transcribe
  bun.lock
  packages/cli/src/server/api/agent.ts
  packages/cli/src/utils/audioBuffer.ts
  packages/client/src/components/ui/chat/chat-tts-button.tsx
  packages/client/src/lib/api.ts
  packages/plugin-local-ai/README.md
  packages/plugin-local-ai/package.json
  packages/plugin-local-ai/src/index.ts
  packages/plugin-local-ai/src/types.ts
  packages/plugin-local-ai/src/utils/transcribeManager.ts
  packages/plugin-local-ai/src/utils/ttsManager.ts
Labels: 1.x

#4504 chore: strict types, generate DTS, plugin-bootstrap
  packages/core/src/types.ts
  packages/plugin-bootstrap/src/actions/choice.ts
  packages/plugin-bootstrap/src/actions/followRoom.ts
  packages/plugin-bootstrap/src/actions/muteRoom.ts
  packages/plugin-bootstrap/src/actions/roles.ts
  packages/plugin-bootstrap/src/actions/sendMessage.ts
  packages/plugin-bootstrap/src/actions/settings.ts
  packages/plugin-bootstrap/src/actions/unfollowRoom.ts
  packages/plugin-bootstrap/src/actions/unmuteRoom.ts
  packages/plugin-bootstrap/src/actions/updateEntity.ts
  packages/plugin-bootstrap/src/evaluators/reflection.ts
  packages/plugin-bootstrap/src/index.ts
  packages/plugin-bootstrap/src/providers/anxiety.ts
  packages/plugin-bootstrap/src/providers/character.ts
  packages/plugin-bootstrap/src/providers/choice.ts
  packages/plugin-bootstrap/src/providers/evaluators.ts
  packages/plugin-bootstrap/src/providers/roles.ts
  packages/plugin-bootstrap/src/providers/settings.ts
  packages/plugin-bootstrap/src/providers/world.ts
  packages/plugin-bootstrap/src/services/scenario.ts
  packages/plugin-bootstrap/src/services/task.ts
  packages/plugin-bootstrap/tsconfig.json
  packages/plugin-bootstrap/tsup.config.ts
Labels: 1.x

#4509 ELIZA290/part-1-global-options-create-and-setup-monorepo-commands
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/setup-monorepo.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/commands/test.ts
  packages/cli/src/index.ts
Labels: 1.x

#4511 chore: remove plugin-openai from monorepo
  bun.lock
  package.json
  packages/cli/package.json
  packages/plugin-openai/.gitignore
  packages/plugin-openai/.npmignore
  packages/plugin-openai/LICENSE
  packages/plugin-openai/README.md
  packages/plugin-openai/package.json
  packages/plugin-openai/src/index.ts
  packages/plugin-openai/tsconfig.build.json
  packages/plugin-openai/tsconfig.json
  packages/plugin-openai/tsup.config.ts
  packages/plugin-openai/vitest.config.ts
  packages/project-starter/package.json
Labels: 1.x

#4439 chore: remove plugin-local-ai from monorepo
  bun.lock
  packages/plugin-local-ai/.gitignore
  packages/plugin-local-ai/.npmignore
  packages/plugin-local-ai/LICENSE
  packages/plugin-local-ai/README.md
  packages/plugin-local-ai/__tests__/image-desc.test.ts
  packages/plugin-local-ai/__tests__/initialization.test.ts
  packages/plugin-local-ai/__tests__/test-utils.ts
  packages/plugin-local-ai/__tests__/text-gen.test.ts
  packages/plugin-local-ai/__tests__/text-transcribe.test.ts
  packages/plugin-local-ai/__tests__/tts.test.ts
  packages/plugin-local-ai/package.json
  packages/plugin-local-ai/src/environment.ts
  packages/plugin-local-ai/src/index.ts
  packages/plugin-local-ai/src/types.ts
  packages/plugin-local-ai/src/utils/downloadManager.ts
  packages/plugin-local-ai/src/utils/platform.ts
  packages/plugin-local-ai/src/utils/runtime_test.ts
  packages/plugin-local-ai/src/utils/tokenizerManager.ts
  packages/plugin-local-ai/src/utils/transcribeManager.ts
  packages/plugin-local-ai/src/utils/ttsManager.ts
  packages/plugin-local-ai/src/utils/visionManager.ts
  packages/plugin-local-ai/tsconfig.build.json
  packages/plugin-local-ai/tsconfig.json
  packages/plugin-local-ai/tsup.config.ts
  packages/plugin-local-ai/vitest.config.ts
  packages/the-org/package.json
Labels: 1.x

#4513 chore: remove plugin-solana from monorepo
  bun.lock
  packages/plugin-solana/.npmignore
  packages/plugin-solana/LICENSE
  packages/plugin-solana/README.md
  packages/plugin-solana/__tests__/actions/swap.test.ts
  packages/plugin-solana/images/banner.jpg
  packages/plugin-solana/images/logo.jpg
  packages/plugin-solana/package.json
  packages/plugin-solana/src/actions/swap.ts
  packages/plugin-solana/src/actions/transfer.ts
  packages/plugin-solana/src/bignumber.ts
  packages/plugin-solana/src/constants.ts
  packages/plugin-solana/src/environment.ts
  packages/plugin-solana/src/index.ts
  packages/plugin-solana/src/keypairUtils.ts
  packages/plugin-solana/src/providers/wallet.ts
  packages/plugin-solana/src/service.ts
  packages/plugin-solana/src/types.ts
  packages/plugin-solana/tsconfig.build.json
  packages/plugin-solana/tsconfig.json
  packages/plugin-solana/tsup.config.ts
Labels: 1.x

#4523 chore: clean eliza cache before running ci
  .github/workflows/cli-tests.yml
Labels: 1.x

#4524 chore: Cleanup the-org ENV and Agent loading.
  packages/the-org/src/index.ts
Labels: 1.x

#4458 fix(pglite): JSON serialization to handle invalid Unicode escape sequences when log
  packages/plugin-sql/src/base.ts
Labels: 1.x

#4506 chore: V2 fixed twitter
  packages/plugin-twitter/src/base.ts
  packages/plugin-twitter/src/client/client.ts
  packages/plugin-twitter/src/index.ts
  packages/plugin-twitter/src/interactions.ts
Labels: 1.x

#4507 feat: Refactor model handling in AgentRuntime to support provider and priority
  packages/core/src/runtime.ts
  packages/core/src/types.ts
Labels: 1.x

#4529 Enforce Typescript on /cli and /plugin-sql, fix missing DB functions.
  bun.lock
  packages/cli/src/commands/test.ts
  packages/cli/tsup.config.ts
  packages/core/src/database.ts
  packages/core/src/runtime.ts
  packages/core/src/types.ts
  packages/plugin-sql/src/base.ts
  packages/plugin-sql/src/pg/adapter.ts
  packages/plugin-sql/src/pglite/adapter.ts
  packages/plugin-sql/tsconfig.build.json
  packages/plugin-sql/tsup.config.ts
Labels: 1.x

#4515 feat: Improve tasks, fix state issues causing state to replicate, scope tasks to entities, many QoL fixes
  bun.lock
  package.json
  packages/cli/package.json
  packages/cli/src/server/api/agent.ts
  packages/cli/src/server/api/index.ts
  packages/cli/src/server/index.ts
  packages/cli/src/server/socketio/index.ts
  packages/client/src/components/agent-sidebar.tsx
  packages/client/src/components/log-viewer.tsx
  packages/client/src/hooks/use-query-hooks.ts
  packages/client/src/lib/api.ts
  packages/core/src/database.ts
  packages/core/src/prompts.ts
  packages/core/src/runtime.ts
  packages/core/src/types.ts
  packages/plugin-bootstrap/src/actions/choice.ts
  packages/plugin-bootstrap/src/index.ts
  packages/plugin-bootstrap/src/services/index.ts
  packages/plugin-bootstrap/src/services/scenario.ts
  packages/plugin-bootstrap/src/services/websocket.ts
  packages/plugin-discord/src/messages.ts
  packages/plugin-discord/src/service.ts
  packages/plugin-discord/src/voice.ts
  packages/plugin-farcaster/src/managers/interactions.ts
  packages/plugin-sql/drizzle/migrations/0000_snapshot.sql
  packages/plugin-sql/drizzle/migrations/meta/0000_snapshot.json
  packages/plugin-sql/drizzle/migrations/meta/_journal.json
  packages/plugin-sql/src/base.ts
  packages/plugin-sql/src/schema/index.ts
  packages/plugin-sql/src/schema/memory.ts
  packages/plugin-sql/src/schema/room.ts
  packages/plugin-sql/src/schema/tasks.ts
  packages/plugin-starter/package.json
  packages/plugin-telegram/src/service.ts
  packages/plugin-twitter/src/base.ts
  packages/plugin-twitter/src/interactions.ts
  packages/plugin-twitter/src/spaces.ts
  packages/plugin-twitter/src/sttTtsSpaces.ts
  packages/plugin-twitter/src/timeline.ts
  packages/the-org/src/investmentManager/plugins/degen-intel/apis.ts
  packages/the-org/src/investmentManager/plugins/degen-intel/frontend/index.tsx
  packages/the-org/src/investmentManager/plugins/degen-intel/frontend/loader.tsx
Labels: 1.x

#4530 Disable loading instrumentation if not enabled.
  packages/core/src/runtime.ts
Labels: 1.x

#4546 minor fix: remove banner display + have -h, --help show on same line
  packages/cli/src/commands/plugins.ts
Labels: 1.x

#4551 Remove REST /ping for websocket status checks in client.
  packages/cli/__test_scripts__/test_start.bats
  packages/client/src/components/app-sidebar.tsx
  packages/client/src/components/connection-error-banner.tsx
  packages/client/src/components/connection-status.tsx
  packages/client/src/context/ConnectionContext.tsx
  packages/client/src/lib/socketio-manager.ts
Labels: 1.x

#4552 fix: build for plugin discord & service mess after merge conf
  bun.lock
  packages/plugin-discord/__tests__/discord-service.test.ts
  packages/plugin-discord/package.json
  packages/plugin-discord/src/actions/chatWithAttachments.ts
  packages/plugin-discord/src/actions/downloadMedia.ts
  packages/plugin-discord/src/actions/transcribeMedia.ts
  packages/plugin-discord/src/actions/voiceJoin.ts
  packages/plugin-discord/src/attachments.ts
  packages/plugin-discord/src/messages.ts
  packages/plugin-discord/src/providers/channelState.ts
  packages/plugin-discord/src/service.ts
  packages/plugin-discord/src/tests.ts
  packages/plugin-discord/src/types.ts
  packages/plugin-discord/src/utils.ts
  packages/plugin-discord/src/voice.ts
  packages/plugin-discord/tsconfig.json
  packages/plugin-discord/tsup.config.ts
  packages/the-org/src/communityManager/index.ts
Labels: 1.x

#4559 chore: enable strict types and adjust guards for plugin-telegram
  bun.lock
  packages/plugin-telegram/package.json
  packages/plugin-telegram/src/messageManager.ts
  packages/plugin-telegram/src/service.ts
  packages/plugin-telegram/src/tests.ts
  packages/plugin-telegram/tsconfig.json
  packages/plugin-telegram/tsup.config.ts
Labels: 1.x

#4560 feat: upgrades to cli agent command
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/create.ts
Labels: 1.x

#4571 fix: add commit sha to CLI cache action
  .github/workflows/cli-tests.yml
  bun.lock
Labels: 1.x

#4557 fix: community manager set to use plugin-local-ai, out of box
  packages/project-starter/src/index.ts
  packages/the-org/src/communityManager/index.ts
  packages/the-org/src/devRel/index.ts
  packages/the-org/src/investmentManager/index.ts
  packages/the-org/src/liaison/index.ts
  packages/the-org/src/projectManager/index.ts
Labels: 1.x

#4581 fix: scope worldId and entityId
  packages/cli/src/server/api/agent.ts
Labels: 1.x

#4397 feat: Autofun Buy, and Sell through contract
  .package.json.swp
  bun.lock
  package.json
  packages/core/src/runtime.ts
  packages/the-org/package.json
  packages/the-org/src/investmentManager/index.ts
  packages/the-org/src/investmentManager/plugins/autofun-trader/idl/autofun.json
  packages/the-org/src/investmentManager/plugins/autofun-trader/idl/raydium_vault.json
  packages/the-org/src/investmentManager/plugins/autofun-trader/index.ts
  packages/the-org/src/investmentManager/plugins/autofun-trader/services/execution/buyService.ts
  packages/the-org/src/investmentManager/plugins/autofun-trader/services/execution/sellService.ts
  packages/the-org/src/investmentManager/plugins/autofun-trader/services/walletService.ts
  packages/the-org/src/investmentManager/plugins/autofun-trader/types/autofun.ts
  packages/the-org/src/investmentManager/plugins/autofun-trader/types/raydium_vault.ts
  packages/the-org/src/investmentManager/plugins/autofun-trader/utils/wallet.ts
  packages/the-org/src/investmentManager/plugins/plugin-autofun/tasks.ts
  packages/the-org/src/investmentManager/plugins/plugin-autofun/tasks/buy-signal.ts
  packages/the-org/src/investmentManager/plugins/plugin-autofun/tasks/chat.ts
  packages/the-org/src/investmentManager/plugins/plugin-autofun/tasks/sell-signal.ts
Labels: 1.x

#4589 fix: Guarantee onComplete is always called in messageReceivedHandler
  packages/plugin-bootstrap/src/index.ts
Labels: 1.x

#4583 chore: updates to start command
  packages/cli/src/commands/start.ts
  packages/cli/src/index.ts
  packages/cli/src/server/loader.ts
Labels: 1.x

#4591 Eliza290/cli update command
  packages/cli/src/commands/update.ts
Labels: 1.x

#4599 fix: core not importable in client / vite polyfills.
  bun.lock
  packages/cli/src/utils/copy-template.ts
  packages/client/package.json
  packages/client/vite.config.ts
Labels: 1.x

#4594 fix: send-message-api
  packages/cli/src/server/api/agent.ts
  packages/core/src/search.ts
  packages/docs/docs/rest/send-message.api.mdx
Labels: 1.x

#4595 fix: add missing topics as X post templates expects topics
  packages/the-org/src/communityManager/index.ts
  packages/the-org/src/socialMediaManager/index.ts
Labels: 1.x

#4603 fix: hallucination in reply
  packages/core/src/types.ts
  packages/plugin-bootstrap/src/actions/reply.ts
  packages/plugin-bootstrap/src/index.ts
Labels: 1.x

#4592 chore: Eliza290/cli merge update cli into update command
  packages/cli/__test_scripts__/test_update.bats
  packages/cli/src/commands/publish.ts
  packages/cli/src/commands/update-cli.ts
  packages/cli/src/commands/update.ts
  packages/cli/src/index.ts
  packages/docs/docs/cli/update-cli.md
  packages/docs/docs/cli/update.md
Labels: 1.x

#4610 Eliza290/cli command env
  packages/cli/src/commands/env.ts
  packages/docs/docs/cli/env.md
Labels: 1.x

#4619 chore: add local ai tests
  .github/workflows/cli-tests.yml
  .github/workflows/tauri-ci.yml
  bun.lock
  fix_scripts.sh
  packages/cli/__test_scripts__/test-characters/ada.json
  packages/cli/__test_scripts__/test_start.bats
Labels: 1.x

#4612 fix: resolve linter errors for type mismatches in DB adapter
  .github/workflows/plugin-sql-tests.yaml
  packages/plugin-sql/src/base.ts
Labels: 1.x

#4624 fix: client auth issue
  packages/client/src/context/ConnectionContext.tsx
  packages/client/src/lib/api.ts
Labels: 1.x

#4625 chore: Remove unused wait helper
  packages/cli/src/commands/start.ts
Labels: codex

#4631 ci: Docs auto deployer.
  .github/workflows/docs-publish.yml
Labels: 1.x

#4618 Eliza290/cli command dev
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/server/loader.ts
  packages/docs/docs/cli/dev.md
  packages/docs/docs/cli/start.md
Labels: 1.x

#4575 Issue 451
  bun.lock
  package.json
  packages/plugin-polygon/README.md
  packages/plugin-polygon/package.json
  packages/plugin-polygon/src/actions/bridgeDeposit.ts
  packages/plugin-polygon/src/actions/delegate.ts
  packages/plugin-polygon/src/actions/getBalanceInfo.ts
  packages/plugin-polygon/src/actions/getBlockInfo.ts
  packages/plugin-polygon/src/actions/getCheckpointStatus.ts
  packages/plugin-polygon/src/actions/getDelegatorInfo.ts
  packages/plugin-polygon/src/actions/getGovernanceInfo.ts
  packages/plugin-polygon/src/actions/getTransactionInfo.ts
  packages/plugin-polygon/src/actions/getValidatorInfo.ts
  packages/plugin-polygon/src/actions/withdrawRewards.ts
  packages/plugin-polygon/src/config.ts
  packages/plugin-polygon/src/constants/abis.ts
  packages/plugin-polygon/src/contracts/ERC20ABI.json
  packages/plugin-polygon/src/contracts/OZGovernorABI.json
  packages/plugin-polygon/src/contracts/RootChainManagerABI.json
  packages/plugin-polygon/src/contracts/StakeManagerABI.json
  packages/plugin-polygon/src/contracts/TimelockControllerABI.json
  packages/plugin-polygon/src/contracts/ValidatorShareABI.json
  packages/plugin-polygon/src/contracts/VoteTokenABI.json
  packages/plugin-polygon/src/index.ts
  packages/plugin-polygon/src/providers/PolygonRpcProvider.ts
  packages/plugin-polygon/src/services/GasService.ts
  packages/plugin-polygon/src/services/GovernanceService.ts
  packages/plugin-polygon/src/services/PolygonBridgeService.ts
  packages/plugin-polygon/src/services/PolygonRpcService.ts
  packages/plugin-polygon/src/types.ts
  packages/plugin-polygon/src/utils/bridgeUtils.ts
  packages/plugin-polygon/src/utils/formatters.ts
  packages/plugin-polygon/tests/integration/plugin-integration.test.ts
  packages/plugin-polygon/tests/unit/PolygonBridgeService.test.ts
  packages/plugin-polygon/tests/unit/PolygonRpcInteractions.test.ts
  packages/plugin-polygon/tests/unit/PolygonRpcProvider.test.ts
  packages/plugin-polygon/tests/unit/PolygonWalletProvider.test.ts
  packages/plugin-polygon/tsconfig.build.json
  packages/plugin-polygon/tsconfig.json
  packages/plugin-polygon/vitest.setup.ts
  tsconfig.json
Labels: 0.x

#4637 feat: allow world selection in message API
  packages/cli/src/server/api/agent.ts
  packages/docs/docs/rest/send-message.api.mdx
  packages/docs/src/openapi/eliza-v1.yaml
Labels: codex

#4640 fix: docs deploy workflow
  .github/workflows/docs-publish.yml
Labels: 1.x

#4643 chore: Add missing plugin failure test
  packages/cli/__test_scripts__/test_plugins.bats
Labels: codex

#4629 Fix chokidar watch usage
  packages/cli/package.json
  packages/cli/src/commands/dev.ts
  packages/cli/tsup.config.ts
Labels: codex

#4633 cleanup: optz actions functions
  packages/core/src/actions.ts
Labels: 1.x

#4642 fix: agent start button refetch agent.status.
  packages/client/src/hooks/use-agent-management.ts
  packages/client/src/hooks/use-query-hooks.ts
Labels: 1.x

#4644 remove pr title CI
  .github/workflows/pr.yaml
Labels: 1.x

#4641 feat: use registry
  .github/workflows/cli-tests.yml
  bun.lock
  packages/cli/__test_scripts__/test_plugins.bats
  packages/cli/package.json
  packages/cli/src/commands/plugins.ts
  packages/cli/src/types/plugins.ts
  packages/cli/src/utils/install-plugin.ts
  packages/cli/src/utils/package-manager.ts
  packages/cli/src/utils/parse-registry.ts
  packages/cli/src/utils/plugin-discovery.ts
  packages/cli/tsup.config.ts
Labels: 1.x

#4650 Add sentry logging to core logger errors.
  .env.example
  bun.lock
  package.json
  packages/core/README-automated.md
  packages/core/src/index.ts
  packages/core/src/logger.ts
  packages/core/src/sentry/instrument.ts
Labels: 1.x

#4647 feat: API endpoint for creating new rooms
  packages/cli/src/server/api/agent.ts
  packages/client/src/lib/api.ts
Labels: 1.x

#4646 Eliza290/update docs readme and tests for all cli commands
  packages/cli/README.md
  packages/cli/__test_scripts__/test_agent.bats
  packages/cli/__test_scripts__/test_create.bats
  packages/cli/__test_scripts__/test_dev.bats
  packages/cli/__test_scripts__/test_env.bats
  packages/cli/__test_scripts__/test_plugins.bats
  packages/cli/__test_scripts__/test_setup_monorepo.bats
  packages/cli/__test_scripts__/test_start.bats
  packages/cli/__test_scripts__/test_update.bats
  packages/cli/package.json
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/env.ts
  packages/cli/src/commands/plugins.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/commands/update.ts
  packages/cli/test/agent-commands.test.js
  packages/cli/test/plugin-command.test.js
  packages/cli/test/plugins-command.test.js
  packages/cli/test/setup-commands.test.js
  packages/cli/test/setup-monorepo.test.js
  packages/docs/docs/cli/agent.md
  packages/docs/docs/cli/dev.md
  packages/docs/docs/cli/env.md
  packages/docs/docs/cli/plugins.md
  packages/docs/docs/cli/setup-monorepo.md
  packages/docs/docs/cli/start.md
  packages/docs/docs/cli/update.md
Labels: 1.x

#4655 default sentry better
  packages/core/src/logger.ts
  packages/core/src/sentry/instrument.ts
Labels: 1.x

#4666 Remove global env support
  packages/cli/README.md
  packages/cli/__test_scripts__/test_env.bats
  packages/cli/src/commands/env.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/commands/test.ts
  packages/cli/src/index.ts
  packages/cli/src/server/api/env.ts
  packages/cli/src/utils/env-prompt.ts
  packages/cli/src/utils/get-config.ts
  packages/cli/src/utils/user-environment.ts
  packages/client/src/components/env-settings.tsx
  packages/client/src/lib/api.ts
  packages/core/src/runtime.ts
  packages/docs/blog/twitter-agent-guide.mdx
  packages/docs/docs/cli/env.md
  packages/plugin-discord/src/index.ts
Labels: 1.x, codex

#4665 add CHANNEL_IDS to discord_plugin
  packages/plugin-discord/README.md
  packages/plugin-discord/__tests__/environment.test.ts
  packages/plugin-discord/src/environment.ts
  packages/plugin-discord/src/service.ts
Labels: 1.x

#4667 feat: Create world api endpoints
  packages/cli/src/server/api/agent.ts
  packages/client/src/lib/api.ts
Labels: 1.x

#4659 Add chat clear and delete message features
  packages/cli/src/server/api/agent.ts
  packages/client/src/components/chat.tsx
  packages/client/src/components/room.tsx
  packages/client/src/hooks/use-query-hooks.ts
  packages/client/src/lib/api.ts
Labels: codex

#4668 remove discord plugin
  packages/cli/README.md
  packages/cli/src/commands/env.ts
  packages/cli/src/server/api/env.ts
  packages/client/src/components/env-settings.tsx
  packages/client/src/lib/api.ts
  packages/docs/docs/cli/env.md
  packages/plugin-discord/.npmignore
  packages/plugin-discord/LICENSE
  packages/plugin-discord/README.md
  packages/plugin-discord/__tests__/discord-service.test.ts
  packages/plugin-discord/__tests__/environment.test.ts
  packages/plugin-discord/__tests__/messageManager.test.ts
  packages/plugin-discord/images/banner.jpg
  packages/plugin-discord/images/logo.jpg
  packages/plugin-discord/package.json
  packages/plugin-discord/src/actions/chatWithAttachments.ts
  packages/plugin-discord/src/actions/downloadMedia.ts
  packages/plugin-discord/src/actions/summarizeConversation.ts
  packages/plugin-discord/src/actions/transcribeMedia.ts
  packages/plugin-discord/src/actions/voiceJoin.ts
  packages/plugin-discord/src/actions/voiceLeave.ts
  packages/plugin-discord/src/attachments.ts
  packages/plugin-discord/src/constants.ts
  packages/plugin-discord/src/environment.ts
  packages/plugin-discord/src/index.ts
  packages/plugin-discord/src/messages.ts
  packages/plugin-discord/src/providers/channelState.ts
  packages/plugin-discord/src/providers/voiceState.ts
  packages/plugin-discord/src/service.ts
  packages/plugin-discord/src/tests.ts
  packages/plugin-discord/src/types.ts
  packages/plugin-discord/src/utils.ts
  packages/plugin-discord/src/voice.ts
  packages/plugin-discord/tsconfig.build.json
  packages/plugin-discord/tsconfig.json
  packages/plugin-discord/tsup.config.ts
  packages/plugin-discord/vitest.config.ts
Labels: 1.x

#4680 remove telegram-plugin
  packages/plugin-telegram/.npmignore
  packages/plugin-telegram/LICENSE
  packages/plugin-telegram/README.md
  packages/plugin-telegram/__tests__/messageManager.test.ts
  packages/plugin-telegram/__tests__/telegramClient.test.ts
  packages/plugin-telegram/__tests__/utils.test.ts
  packages/plugin-telegram/images/banner.jpg
  packages/plugin-telegram/images/logo.jpg
  packages/plugin-telegram/package.json
  packages/plugin-telegram/src/constants.ts
  packages/plugin-telegram/src/environment.ts
  packages/plugin-telegram/src/index.ts
  packages/plugin-telegram/src/messageManager.ts
  packages/plugin-telegram/src/service.ts
  packages/plugin-telegram/src/tests.ts
  packages/plugin-telegram/src/types.ts
  packages/plugin-telegram/src/utils.ts
  packages/plugin-telegram/tsconfig.build.json
  packages/plugin-telegram/tsconfig.json
  packages/plugin-telegram/tsup.config.ts
  packages/plugin-telegram/vitest.config.ts
Labels: 1.x

#4615 chore: fix some typos in comment
  docs/api/type-aliases/Plugin.md
  packages/cli/index.js
  packages/core-plugin-v1/src/types.ts
  packages/core/src/runtime.ts
  packages/core/src/types.ts
Labels: 0.x

#4605 fix(core): fixing failling tests, adding missing packages and fixing circular dependency
  packages/core/package.json
  packages/core/src/logger.ts
Labels: 1.x

#4682 remove farcaster plugin
  packages/plugin-farcaster/LICENSE
  packages/plugin-farcaster/README.md
  packages/plugin-farcaster/__tests__/cast.test.ts
  packages/plugin-farcaster/__tests__/client-cache.test.ts
  packages/plugin-farcaster/__tests__/client.test.ts
  packages/plugin-farcaster/__tests__/config.test.ts
  packages/plugin-farcaster/__tests__/interactions.test.ts
  packages/plugin-farcaster/__tests__/post-manager.test.ts
  packages/plugin-farcaster/__tests__/service.test.ts
  packages/plugin-farcaster/__tests__/suite.test.ts
  packages/plugin-farcaster/__tests__/suite.ts
  packages/plugin-farcaster/__tests__/test-utils.ts
  packages/plugin-farcaster/__tests__/types.ts
  packages/plugin-farcaster/eslint.config.mjs
  packages/plugin-farcaster/images/banner.jpg
  packages/plugin-farcaster/images/logo.jpg
  packages/plugin-farcaster/package.json
  packages/plugin-farcaster/src/client.ts
  packages/plugin-farcaster/src/common/asyncqueue.ts
  packages/plugin-farcaster/src/common/callbacks.ts
  packages/plugin-farcaster/src/common/config.ts
  packages/plugin-farcaster/src/common/constants.ts
  packages/plugin-farcaster/src/common/prompts.ts
  packages/plugin-farcaster/src/common/types.ts
  packages/plugin-farcaster/src/common/utils.ts
  packages/plugin-farcaster/src/index.ts
  packages/plugin-farcaster/src/managers/agent.ts
  packages/plugin-farcaster/src/managers/interactions.ts
  packages/plugin-farcaster/src/managers/post.ts
  packages/plugin-farcaster/src/service.ts
  packages/plugin-farcaster/tsconfig.json
  packages/plugin-farcaster/tsup.config.ts
  packages/plugin-farcaster/vitest.config.ts
Labels: 1.x

#4542 Update README_IND.md
  README.md
  i18n/readme/README_IND.md
Labels: 0.x

#4576 docs: Fix outdated link in changelog.md
  docs/notes/changelog.md
Labels: 0.x

#4686 feat: Unify env file lookup across CLI
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/env.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/commands/test.ts
  packages/cli/src/server/api/env.ts
  packages/cli/src/utils/env-utils.ts
  packages/cli/src/utils/get-config.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/user-environment.ts
Labels: codex

#4675 fix: plugin-tee build and exports
  packages/plugin-tee/src/actions/remoteAttestationAction.ts
  packages/plugin-tee/src/index.ts
  packages/plugin-tee/src/providers/deriveKeyProvider.ts
  packages/plugin-tee/src/providers/remoteAttestationProvider.ts
  packages/plugin-tee/src/service.ts
  packages/plugin-tee/src/vendors/phala.ts
  packages/plugin-tee/tsconfig.json
  packages/plugin-tee/tsup.config.ts
Labels: 1.x

#4693 deps: remove discord opus deps
  bun.lock
  package.json
Labels: 1.x

#4703 add .env to plugin-starter's .gitignore file (publishing was failing due to key presence)
  packages/plugin-starter/.gitignore
Labels: 1.x

#4712 ops: deploy CLI action
  .github/workflows/deploy-cli.yml
Labels: 1.x

#4721 feat: write .env example, cleanup get-config functions
  packages/cli/src/utils/get-config.ts
Labels: 1.x

#4723 fix: add libvips-dev to integration test CI
  .github/workflows/integrationTests.yaml
Labels: 1.x

#4556 feat: improve db api
  packages/plugin-sql/__tests__/integration/entity.test.ts
Labels: 1.x

#4727 update plugin prefix check/add function to also validate "plugin-alpanumeric" naming conv
  packages/cli/src/commands/create.ts
Labels: 1.x

#4729 update name handling in publisher.ts so it doesnt expect "elizaos" anymore
  packages/cli/src/utils/copy-template.ts
  packages/cli/src/utils/publisher.ts
Labels: 1.x

#4732 Fix Build Error: Missing findNearestEnvFile Import
  packages/cli/src/utils/registry/index.ts
Labels: 1.x

#4740 fix: remove unused PDF.js imports causing CLI DOMMatrix runtime error
  packages/core/src/utils.ts
Labels: 1.x

#4731 feat: enhance plugin publishing with NPM authentication and validation
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/publish.ts
  packages/cli/src/utils/copy-template.ts
  packages/cli/src/utils/publisher.ts
  packages/cli/src/utils/registry/index.ts
  packages/plugin-starter/.gitignore
  packages/plugin-starter/package.json
Labels: 1.x

#4742 chore: update twitter setup blog
  packages/docs/blog/twitter-agent-guide.mdx
Labels: 1.x

#4747 unpeg CLI plugin / core deps, version .71 deploy CLI
  bun.lock
  packages/cli/package.json
Labels: 1.x

#4751 fix: env files, .73 release
  .env.example
  bun.lock
  packages/cli/package.json
  packages/cli/src/utils/get-config.ts
  packages/core/package.json
  packages/create-eliza/package.json
  packages/plugin-bootstrap/package.json
  packages/plugin-sql/package.json
  packages/plugin-starter/package.json
Labels: 1.x

#4752 fix: .env hoisting in non-monorepo dirs
  packages/cli/src/commands/env.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/utils/resolve-utils.ts
  packages/cli/src/utils/user-environment.ts
Labels: 1.x

#4753 fix: remove tee plugin, bump packages
  bun.lock
  packages/cli/package.json
  packages/cli/tsup.config.ts
  packages/core/package.json
  packages/create-eliza/package.json
  packages/plugin-bootstrap/package.json
  packages/plugin-sql/package.json
  packages/plugin-tee/.npmignore
  packages/plugin-tee/LICENSE
  packages/plugin-tee/README.md
  packages/plugin-tee/package.json
  packages/plugin-tee/src/__tests__/deriveKey.test.ts
  packages/plugin-tee/src/__tests__/remoteAttestation.test.ts
  packages/plugin-tee/src/__tests__/timeout.test.ts
  packages/plugin-tee/src/actions/remoteAttestationAction.ts
  packages/plugin-tee/src/index.ts
  packages/plugin-tee/src/providers/base.ts
  packages/plugin-tee/src/providers/deriveKeyProvider.ts
  packages/plugin-tee/src/providers/remoteAttestationProvider.ts
  packages/plugin-tee/src/service.ts
  packages/plugin-tee/src/types.ts
  packages/plugin-tee/src/utils.ts
  packages/plugin-tee/src/vendors/index.ts
  packages/plugin-tee/src/vendors/phala.ts
  packages/plugin-tee/src/vendors/types.ts
  packages/plugin-tee/tsconfig.build.json
  packages/plugin-tee/tsconfig.json
  packages/plugin-tee/tsup.config.ts
Labels: 1.x

#4787 feat: improving typing
  packages/core/src/index.ts
  packages/core/src/search.ts
  packages/core/src/types.ts
Labels: 1.x

#4792 fix: update and improve registry publishing logic and package naming
  packages/cli/src/utils/publisher.ts
Labels: 1.x

#4793 feat: add npm publishing to default elizaos publish workflow
  packages/cli/src/commands/publish.ts
  packages/cli/src/utils/parse-registry.ts
Labels: 1.x

#4794 docs: update publish workflow documentation for npm integration
  packages/cli/README.md
  packages/docs/docs/cli/publish.md
  packages/plugin-starter/README.md
Labels: 1.x

#4806 feat: Merge process.env variables into .env file
  packages/cli/src/utils/get-config.ts
Labels: 1.x

#4801 feat: Complete Polygon zkEVM plugin implementation and test cleanup -…
  bun.lock
  package.json
  packages/cli/src/characters/eliza.ts
  packages/plugin-polygon-zkevm/README.md
  packages/plugin-polygon-zkevm/UI_TESTING_PROMPTS.md
  packages/plugin-polygon-zkevm/package.json
  packages/plugin-polygon-zkevm/src/actions/bridgeAssets.ts
  packages/plugin-polygon-zkevm/src/actions/bridgeMessages.ts
  packages/plugin-polygon-zkevm/src/actions/checkBlockStatus.ts
  packages/plugin-polygon-zkevm/src/actions/deploySmartContract.ts
  packages/plugin-polygon-zkevm/src/actions/estimateGas.ts
  packages/plugin-polygon-zkevm/src/actions/estimateTransactionFee.ts
  packages/plugin-polygon-zkevm/src/actions/getAccountBalance.ts
  packages/plugin-polygon-zkevm/src/actions/getBalance.ts
  packages/plugin-polygon-zkevm/src/actions/getBatchInfo.ts
  packages/plugin-polygon-zkevm/src/actions/getBlockDetailsByHash.ts
  packages/plugin-polygon-zkevm/src/actions/getBlockDetailsByNumber.ts
  packages/plugin-polygon-zkevm/src/actions/getCode.ts
  packages/plugin-polygon-zkevm/src/actions/getCurrentBlockNumber.ts
  packages/plugin-polygon-zkevm/src/actions/getGasPrice.ts
  packages/plugin-polygon-zkevm/src/actions/getGasPriceEstimates.ts
  packages/plugin-polygon-zkevm/src/actions/getLogs.ts
  packages/plugin-polygon-zkevm/src/actions/getStorageAt.ts
  packages/plugin-polygon-zkevm/src/actions/getTransactionByHash.ts
  packages/plugin-polygon-zkevm/src/actions/getTransactionCount.ts
  packages/plugin-polygon-zkevm/src/actions/getTransactionDetails.ts
  packages/plugin-polygon-zkevm/src/actions/getTransactionReceipt.ts
  packages/plugin-polygon-zkevm/src/actions/interactSmartContract.ts
  packages/plugin-polygon-zkevm/src/index.ts
  packages/plugin-polygon-zkevm/src/plugin.ts
  packages/plugin-polygon-zkevm/src/templates.ts
  packages/plugin-polygon-zkevm/src/utils/llmHelpers.ts
  packages/plugin-polygon-zkevm/tests/README.md
  packages/plugin-polygon-zkevm/tests/bridgeAssets.test.ts
  packages/plugin-polygon-zkevm/tests/bridgeMessages.test.ts
  packages/plugin-polygon-zkevm/tests/deploySmartContract.test.ts
  packages/plugin-polygon-zkevm/tests/estimateTransactionFee.test.ts
  packages/plugin-polygon-zkevm/tests/integration/alchemy-api.test.ts
  packages/plugin-polygon-zkevm/tests/interactSmartContract.test.ts
  packages/plugin-polygon-zkevm/tests/test-helpers.ts
  packages/plugin-polygon-zkevm/tests/unit/blockNumberParsing.test.ts
  packages/plugin-polygon-zkevm/tests/unit/zkevmProvider.test.ts
  packages/plugin-polygon-zkevm/vitest.config.ts
  packages/plugin-polygon-zkevm/vitest.setup.ts
Labels: 1.x

#4800 Update README_MY.md
  i18n/readme/README_MY.md
Labels: 0.x

#4827 docs: comprehensive CLI docs standardization, updates, and accuracy fixes
  packages/cli/README.md
  packages/docs/docs/cli/agent.md
  packages/docs/docs/cli/create.md
  packages/docs/docs/cli/dev.md
  packages/docs/docs/cli/env.md
  packages/docs/docs/cli/overview.md
  packages/docs/docs/cli/plugins.md
  packages/docs/docs/cli/publish.md
  packages/docs/docs/cli/setup-monorepo.md
  packages/docs/docs/cli/start.md
  packages/docs/docs/cli/stop.md
  packages/docs/docs/cli/test.md
  packages/docs/docs/cli/update.md
  packages/docs/docs/quickstart.md
Labels: 1.x

#4821 Fix: Return success (exit code 0) when no tests are found
  packages/cli/src/commands/test.ts
  packages/cli/src/utils/test-runner.ts
Labels: 1.x

#4824 feat: Fetches plugin registry from Vercel API
  packages/cli/src/commands/plugins.ts
  packages/cli/src/utils/install-plugin.ts
  packages/cli/src/utils/parse-registry.ts
  packages/cli/src/utils/plugin-discovery.ts
Labels: 1.x

#4813 fix: resolve E2E test compilation failures
  packages/project-starter/e2e/starter-plugin.test.ts
  packages/project-starter/package.json
  packages/project-starter/tsup.config.ts
Labels: 1.x

#4826 feat: added ai model prompts while creating a new agent via CLI
  packages/autodoc/src/DocumentationGenerator.ts
  packages/autodoc/src/JSDocValidator.ts
  packages/cli/__test_scripts__/test-characters/max.json
  packages/cli/__test_scripts__/test-characters/shaw.json
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/publish.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/utils/get-config.ts
  packages/cli/src/utils/test-runner.ts
  packages/core/src/instrumentation/service.ts
  packages/docs/archive/guides/secrets-management.md
  packages/docs/versioned_docs/version-0.25.9/guides/secrets-management.md
  packages/plugin-bootstrap/src/providers/world.ts
Labels: 1.x

#4838 feat: simplify provider logging and fix frontend memory viewer
  packages/cli/src/server/api/agent.ts
  packages/cli/src/server/api/index.ts
  packages/client/src/components/agent-log-viewer.tsx
  packages/client/src/components/agent-memory-viewer.tsx
  packages/plugin-bootstrap/src/index.ts
Labels: 1.x

#4839 fix: swap out Vercel for rawgit registry.
  packages/cli/src/utils/plugin-discovery.ts
Labels: 1.x

#4837 fix: tee cli subcommand
  packages/cli/README.md
  packages/cli/src/commands/tee.ts
  packages/cli/src/commands/tee/phala-wrapper.ts
  packages/cli/src/commands/tee/phala.ts
  packages/cli/src/tee/phala/constants.ts
  packages/cli/src/tee/phala/credential.ts
  packages/cli/src/tee/phala/docker.ts
  packages/cli/src/tee/phala/eliza.yml
  packages/cli/src/tee/phala/index.ts
  packages/cli/src/tee/phala/lib.ts
  packages/cli/src/tee/phala/phala-cloud.ts
  packages/cli/src/tee/phala/types.ts
Labels: 1.x

#4847 fix: resolve plugin publishing failures with registry references and gitignore template
  packages/cli/src/commands/create.ts
  packages/cli/src/utils/registry/index.ts
  packages/plugin-starter/.gitignore
Labels: 1.x

#4849 fix: refactor misc cli commands to reuse directory detection util
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/plugins.ts
  packages/cli/src/commands/publish.ts
  packages/cli/src/commands/start.ts
Labels: 1.x

#4825 fix: Improves PGLite setup and .env handling
  packages/cli/src/utils/get-config.ts
  packages/project-starter/.env.example
Labels: 1.x

#4820 chore: update pckg manager version
  bun.lock
  package.json
Labels: 1.x
